/* --------------------
  Sticky Footer
  ---------------------- */
/* Must be on content to work */
/* Also makes content have corridors in mobile view */
.content {
	flex-grow: 1;
}

html, body {
	height: 100%;
}

.site {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.content {
	flex: 1 0 auto;
	width: 90%;
	margin: auto;
}

.footer {
	flex-shrink: 0;
}

.post, .page {
	margin: 0 !important;
}

/*# sourceMappingURL=sticky-footer.css.map */