// 4 headings bars

.client-solutions-headings {
    overflow: hidden;
}

.is-visible.client-solutions-headings .bar-heading {
    animation: 0.8s ease-out 0s 1 slideInFromLeft;
}

// 3 cards

.three-cards {
    overflow: hidden;
}

.is-visible {
    &.first-card {
        animation: 0.8s cubic-bezier(0.1, 0.3, 0.9, 0.1) 0s 1 slideInFromLeft;
    }

    &.second-card {
        animation: 0.8s cubic-bezier(0.1, 0.3, 0.9, 0.1) 0s 1 slideInFromLeft;
    }

    &.third-card {
        animation: 0.8s cubic-bezier(0.1, 0.3, 0.9, 0.1) 0s 1 slideInFromLeft;
    }
}