// Slide in
@keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }

// Fade in

@keyframes fadeIn {
    0% {
        opacity: 0;
        visibility: visible;
    }
    100% {
        transform: 1;
        visibility: visible;
    }
}

// Animation background

@keyframes animatedBackgroundPage {
    from {
      background-position: left top;
      bottom: -200px;
    }
    to {
      background-position: right top;
      bottom: -200px;
    }
  }

@keyframes animatedBackground {
  from {
    background-position: left top;
  }
  to {
    background-position: right top;
  }
}

@keyframes slideIntoPlace {
  from {
    bottom: 0;
  }
  to {
    bottom: -200px;
  }
}

// delay and hide

@keyframes delayAndHide {
  0% {
    visibility: hidden;
    }
  100% {
    visibility: visible;
  }
}

// fadeOut

@keyframes fadeOut {
  0% {
    opacity: 1;
    visibility: visible;
    }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

// fadeToWhite

@keyframes fadeToWhite {
  0% {
    background-color: $color__main-off-black;
    }
  100% {
    opacity: $color__main-white;
  }
}

// Paralax scrolling

.forefront-element {
  -webkit-transform: translateZ(999px) scale(.7);
  transform: translateZ(999px) scale(.7);
  z-index: 1;
}

.base-element {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  z-index: 4;
}

.background-element {
  -webkit-transform: translateZ(-999px) scale(2);
  transform: translateZ(-999px) scale(2);
  z-index: 3;
}

// Slide home ribbon into place
/*
@keyframes slideRibbon {
  // 0% {
  //   right: 640px;
  //   }
  // 100% {
  //   right: 76px;
  // }

  0% {
    // right: 5000px;
    transform: translateX(-1000px);
    }
  100% {
    // right: 152px;
    transform: translateX(0);
  }
}

@keyframes slideRibbonMobile {
  0% {
    right: 640px;
    }
  100% {
    right: 0px;
  }
}

@keyframes slideRibbonLarge {
  0% {
    // right: 5000px;
    transform: translateX(-2500px);
    }
  100% {
    // right: 152px;
    transform: translateX(0);
  }
}

@keyframes slideRibbonDesktop {
  0% {
    // right: 5000px;
    transform: translateX(-1500px);
    }
  100% {
    // right: 152px;
    transform: translateX(0);
  }
}

@keyframes wipeBackground {
  0% {
    // right: 5000px;
    width: 0%;
    }
  100% {
    // right: 152px;
    width: 100%;
    visibility: visible;
  }
}*/


@keyframes wipeBackgroundDesktop {
  0% {
    // right: 5000px;
    width: 0;
    opacity:0;
    padding-left:0;
    }
    10%{
      opacity:1;
    }
  100% {
    // right: 152px;
    width: 100vw;
    visibility: visible; 
    padding-left: clamp(50px, 10vw, 150px);
  }
}

@keyframes wipeBackgroundDesktopMobile {
  0% {
    // right: 5000px;
    width: 0;
    opacity:0;
    padding-left:0;
    }
    10%{
      opacity:1;
    }
  100% {
    // right: 152px;
    width: 100vw;
    visibility: visible; 
    padding-left: clamp(20px, 5vw, 150px);
  }
}

@keyframes wipeBackgroundRibbon {
  0% {
    // right: 5000px;
    left: -10vw;
    opacity:0;
    }
    10%{
      opacity:1;
    }
  100% {
    left: 90vw;
    visibility: visible; 
  }
}
/*
@keyframes wipeBackgroundDesktopExpand{
  0%{
    width:100vw;
    visibility: visible; 
    padding-left: clamp(50px, 10vw, 150px);
    opacity:1;
  }
  100%{
    width:105vw;
    visibility: visible; 
    padding-left: clamp(50px, 10vw, 150px);
    opacity:1; 
  }
}

@keyframes wipeBackgroundDesktopShrink{
  0%{
    width:105vw;
    visibility: visible; 
    padding-left: clamp(50px, 10vw, 150px);
    opacity:1;
  }
  100%{
    width:100vw;
    visibility: visible; 
    padding-left: clamp(50px, 10vw, 150px);
    opacity:1; 
  }
}*/