// Fade in content

.is-visible.fade-content {
    animation: 1s ease-out 0s 1 fadeIn;
}

// Ribbon fades in pages (homepage has it's own coding)

.page-background {
    z-index: -1;
    // animation: 1s ease-in-out 0s 1 fadeIn;
    // // animation: 3s ease-in-out 0s 1 fadeToWhite;
    // animation-fill-mode: forwards;
}

.page-background-grey {
    animation: 1s ease-in-out 0s 1 fadeOut;
    animation-fill-mode: forwards;
}

.site.pages {
    animation: 1s ease-in-out 0s 1 fadeToWhite;
    animation-fill-mode: forwards;
}

.page.grey-strip {
    animation: 1s ease-in-out 0s 1 fadeOut;
    animation-fill-mode: forwards;
}

.page.white-strip{
    animation: 1s ease-in-out 0s 1 fadeOut;
}

@media (min-width: 1537px) {
    .page.white-strip{
        animation: 1s ease-in-out 0s 1 fadeIn;
    }
}
