body {
	max-width: 100vw;
	overflow-x: hidden;
	scroll-behavior: smooth;
}

html {
	scroll-behavior: smooth;
}

@media screen and (max-width: 1100px) {
	html {
		overflow: hidden;
	}
}

/*# sourceMappingURL=chad.css.map */