/*!
Theme Name: pivot
Theme URI: http://underscores.me/
Author: hdk
Author URI: http://www.wearehdk.com
Description: Custom theme for Pivot
Version: 1.0.0
Tested up to: 5.4
Requires PHP: 5.6
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: pivot
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned.

pivot is based on Underscores https://underscores.me/, (C) 2012-2020 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Generic
	- Normalize
	- Box sizing
# Base
	- Typography
	- Elements
	- Links
	- Forms
## Layouts
# Components
	- Navigation
	- Posts and pages
	- Comments
	- Widgets
	- Media
	- Captions
	- Galleries
# plugins
	- Jetpack infinite scroll
# Utilities
	- Accessibility
	- Alignments

--------------------------------------------------------------*/
@font-face {
	font-family: gilroy;
	src: url("assets/gilroy.otf") format("opentype");
}

@font-face {
	font-family: gilroyLight;
	src: url("assets/gilroylight.otf") format("opentype");
}

@font-face {
	font-family: gilroyExtraBold;
	src: url("assets/gilroyextrabold.otf") format("opentype");
}

/*--------------------------------------------------------------
# Generic
--------------------------------------------------------------*/
/* Normalize
--------------------------------------------- */
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
	 ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
	line-height: 1.15;
	-webkit-text-size-adjust: 100%;
}

/* Sections
	 ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
	margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
	display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
	font-size: 2em;
	margin: 0.67em 0;
}

/* Grouping content
	 ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
	box-sizing: content-box;
	height: 0;
	overflow: visible;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
	font-family: monospace, monospace;
	font-size: 1em;
}

/* Text-level semantics
	 ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
	background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
	border-bottom: none;
	text-decoration: underline;
	text-decoration: underline dotted;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
	font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
	font-family: monospace, monospace;
	font-size: 1em;
}

/**
 * Add the correct font size in all browsers.
 */
small {
	font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

/* Embedded content
	 ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
	border-style: none;
}

/* Forms
	 ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
	font-family: inherit;
	font-size: 100%;
	line-height: 1.15;
	margin: 0;
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
	overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
	text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
	-webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
	border-style: none;
	padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
	outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
	padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *		`fieldset` elements in all browsers.
 */
legend {
	box-sizing: border-box;
	color: inherit;
	display: table;
	max-width: 100%;
	padding: 0;
	white-space: normal;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
	vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
	overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
	box-sizing: border-box;
	padding: 0;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
	-webkit-appearance: textfield;
	outline-offset: -2px;
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
	-webkit-appearance: button;
	font: inherit;
}

/* Interactive
	 ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
	display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
	display: list-item;
}

/* Misc
	 ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
	display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
	display: none;
}

/* Box sizing
--------------------------------------------- */
/* Inherit box-sizing to more easily change it's value on a component level.
@link http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
*,
*::before,
*::after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
}

/*--------------------------------------------------------------
# Base
--------------------------------------------------------------*/
/* Typography
--------------------------------------------- */
body,
button,
input,
select,
optgroup,
textarea {
	color: #404040;
	font-family: "Montserrat", sans-serif;
	font-size: 1rem;
	line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
}

p {
	margin-bottom: 1.5em;
	letter-spacing: 0.06em;
}

dfn,
cite,
em,
i {
	font-style: italic;
}

blockquote {
	margin: 0 1.5em;
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: #eee;
	font-family: "Courier 10 Pitch", courier, monospace;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code,
kbd,
tt,
var {
	font-family: monaco, consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}

abbr,
acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark,
ins {
	background: #fff9c0;
	text-decoration: none;
}

big {
	font-size: 125%;
}

/* Elements
--------------------------------------------- */
body {
	background: #fff;
}

ul {
	list-style-position: inside;
}

* {
	font-family: 'gilroy';
}

hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

ul,
ol {
	margin: 0 0 1.5em 3em;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

dt {
	font-weight: 700;
}

dd {
	margin: 0 1.5em 1.5em;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}

img {
	height: auto;
	max-width: 100%;
}

figure {
	margin: 1em 0;
}

table {
	margin: 0 0 1.5em;
	width: 100%;
}

/* Links
--------------------------------------------- */
a {
	color: #4169e1;
}

a:visited {
	color: #800080;
}

a:hover, a:focus, a:active {
	color: #191970;
}

a:focus {
	outline: thin dotted;
}

a:hover, a:active {
	outline: 0;
}

/* Forms
--------------------------------------------- */
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border-color: #ccc #ccc #bbb;
	border-radius: 3px;
	background: #e6e6e6;
	color: rgba(0, 0, 0, 0.8);
	line-height: 1;
	padding: 0.6em 1em 0.4em;
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
	border-color: #ccc #bbb #aaa;
}

button:active, button:focus,
input[type="button"]:active,
input[type="button"]:focus,
input[type="reset"]:active,
input[type="reset"]:focus,
input[type="submit"]:active,
input[type="submit"]:focus {
	border-color: #aaa #bbb #bbb;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: #666;
	border: 1px solid #ccc;
	border-radius: 3px;
	padding: 3px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
	color: #111;
}

select {
	border: 1px solid #ccc;
}

textarea {
	width: 100%;
}

/*--------------------------------------------------------------
# Layouts
--------------------------------------------------------------*/
/* --------------------
  Sticky Footer
  ---------------------- */
/* Must be on content to work */
/* Also makes content have corridors in mobile view */
.content {
	flex-grow: 1;
}

html, body {
	height: 100%;
}

.site {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.content {
	flex: 1 0 auto;
	width: 90%;
	margin: auto;
}

.footer {
	flex-shrink: 0;
}

.post, .page {
	margin: 0 !important;
}

.page-content {
	margin: auto !important;
}

.site-main.content {
	min-height: 100vh;
}

/*--------------------------------------------------------------
# Pages
--------------------------------------------------------------*/
.pivot-header {
	display: flex;
	margin-top: 3%;
	z-index: 1;
}

.page-title {
	color: #fff;
	display: flex;
	z-index: 1;
	margin: 0;
	margin-left: 14px;
}

.home-card {
	background-color: white;
}

.first-section {
	background-color: #45525a;
	position: relative;
	left: calc(-50vw + 50%);
	background-color: #45525a;
	height: 100%;
	min-height: 100vh;
	overflow: visible;
	padding: 17vh 0 80px 150px;
}

.home-card-container .home-card .container a {
	display: block;
	height: 100%;
}

.home-card-container .home-card .container a:hover {
	text-decoration: none;
}

.home-card-container .home-card .container {
	height: 100%;
}

.home-card {
	transition: background-color 400ms ease;
}

.home-card.one:hover {
	background-color: green;
}

.home-card.two:hover {
	background-color: yellow;
}

.home-card-container {
	position: absolute;
	text-transform: uppercase;
	top: 550px;
	left: 15%;
	display: flex;
	flex-direction: row;
	visibility: hidden;
	display: flex;
	flex-direction: column;
}

.home-card-container .home-card {
	flex: 1 1 50%;
	margin-right: 5px;
	clip-path: polygon(100% 0, 100% 79%, 86% 100%, 0 100%, 0 0);
	width: 230px;
	height: 100px;
	cursor: pointer;
	z-index: 100000;
}

.home-card-container .home-card h2 {
	font-size: 25px;
}

.home-card-container .home-card .container {
	margin: 0;
	margin-top: 40px;
	width: 75%;
	margin-left: 19px;
}

.home-card-container .home-card .container .home-card-title {
	font-weight: bold;
	font-family: 'gilroyExtraBold';
	color: #fff;
	letter-spacing: 0.5px;
}

.home-card-container .home-card.one {
	background-color: #afd6e7;
	margin-bottom: 10px;
}

.home-card-container .home-card.two {
	background-color: #e25a3d;
}

.fa-caret-down.white, .down-arrow-white {
	color: #fff;
	font-size: 70px;
	cursor: pointer;
	position: absolute;
	bottom: 120px;
}

@media (min-width: 768px) {
	.home-card-container {
		position: absolute;
		top: 550px;
		left: 15%;
		display: flex;
		flex-direction: row;
		visibility: hidden;
		animation: 2s ease-out 2s 1 fadeIn;
		animation-fill-mode: forwards;
	}
	.home-card {
		flex: 1 1 50%;
		margin-right: 5px;
		clip-path: polygon(100% 0, 100% 72%, 86% 100%, 0 100%, 0 0);
		height: 175px;
		width: 450px;
		cursor: pointer;
		z-index: 100000;
	}
	.home-card .container {
		margin: 0;
		margin-top: 20px;
		width: 75%;
		margin-left: 19px;
	}
	.home-card .container .home-card-title {
		color: #fff;
	}
	.home-card.one {
		background-color: #afd6e7;
	}
	.home-card.two {
		background-color: #e25a3d;
	}
	.fa-caret-down.white, .down-arrow-white {
		bottom: 120px;
	}
}

.fa-caret-down.white, .down-arrow-white {
	color: #fff;
	font-size: 70px;
	cursor: pointer;
	position: absolute;
	top: 820px;
	right: 50%;
}

@media (min-width: 992px) {
	.fa-caret-down.white, .down-arrow-white {
		right: 50%;
	}
}

.tagline {
	position: absolute;
	top: 295px;
	left: 263px;
	width: 45%;
	text-transform: uppercase;
	font-size: 25px;
}

@media (min-width: 500px) {
	.tagline {
		top: 325px;
	}
}

@media (min-width: 992px) {
	.tagline {
		width: 1294.2px;
	}
}

.tagline h2 {
	color: #fff;
	font-family: 'gilroyExtraBold';
	font-weight: bold;
	display: inline;
}

@media (min-width: 950px) {
	.tagline h2 {
		display: block;
	}
}

@media (min-width: 1500px) {
	.tagline h2 {
		display: inline;
	}
}

@media (min-width: 2568px) {
	.tagline h2 {
		display: block;
	}
}

img.page-title.pivot-header.bigger {
	height: fit-content;
	display: block;
	margin-left: 34px;
	height: 20vh;
	max-height: 138px;
}

.home-card-container .home-card {
	width: 491px;
	width: 423px;
	height: 152px;
	flex-basis: 423px;
	flex-grow: 0;
	transition: background-color 400ms ease;
}

.home-card.one:hover {
	background-color: #fff;
}

.home-card.one:hover .container a .home-card-title {
	color: #afd6e7;
}

.home-card.two:hover {
	background-color: #fff;
}

.home-card.two:hover .container a .home-card-title {
	color: #e25a3d;
}

.home-section {
	min-height: 100vh;
	width: 100vw;
}

.home-section > div {
	opacity: 0;
	transform: translate(0, 50%);
	transition: transform 800ms ease-in, opacity 400ms ease-in;
}

.home-section.reveal > div {
	opacity: 1;
	transform: translate(0, 0);
}

.tagline {
	margin: 25px 0 0 34px;
}

.home-card-container {
	margin-top: 14vh;
}

.home_fixed_elements {
	position: fixed;
	bottom: 0;
	z-index: 1000;
}

img.down-arrow.down-arrow-grey {
	width: 33px;
}

.home_fixed_elements.home_next {
	width: 100vw;
	left: 0;
	display: flex;
	height: 50px;
	background-color: #fff;
	justify-content: center;
	align-items: center;
	transform: translate(0, 0);
	transition: transform .8s ease-in;
}

.hide_fixed .home_fixed_elements.home_next {
	transform: translate(0, 110%);
}

.home_fixed_elements.home_decoration {
	background-image: url("assets/ribbon_long_white.png");
	height: 100vh;
	top: 0;
	width: 7vw;
	background-repeat: no-repeat;
	left: 90vw;
	transition: transform .5s ease-in;
	background-size: cover;
	transform: scaleX(1);
}

/*.hide_fixed .home_fixed_elements.home_decoration{
    transform: scaleX(-1);
    transition: transform .5s ease-out;
}
*/
.home_fixed_elements.home_decoration::after {
	content: '';
	width: 4vw;
	height: 100vh;
	position: absolute;
	top: 0;
	right: -3.9vw;
	background-color: #fff;
}

/*
.first-section::after {
    content: '';
    position: absolute;
    width: 7vw;
    top: 0;
    height: 100vh;
    right:-6.9vw;
    background-image: url("assets/home_ribbon_long_r.png");
    background-position: top left;
    background-repeat: no-repeat;
    background-size: cover;
}*/
.page-title.pivot-header, .first-section .tagline, .home-card-container {
	position: static;
}

a.arrow {
	position: absolute;
	width: 100vw;
	height: 34px;
	left: 0;
	bottom: 10px;
	text-align: center;
}

a.arrow img.down-arrow.down-arrow-white {
	position: static;
}

.client-section {
	background-color: #e25a3d;
}

/*Home Containers*/
.home-section {
	padding: 150px 0 70px clamp(50px, 10vw, 150px);
	position: relative;
	left: calc(-50vw + 50%);
}

.home-section .container {
	margin: 0;
	padding: 0;
}

.home-section h2, .home-section p {
	color: #fff;
	width: clamp(250px, 80vw, 780px);
	padding-left: 34px;
}

.home-section p {
	margin-bottom: 14px;
}

.home-section h2 {
	font-size: 4rem;
	text-transform: uppercase;
	line-height: 105%;
	font-family: 'gilroyLight';
	margin: 0;
}

h2.intro--header {
	color: #45525A;
}

h2.intro--subheader {
	margin-bottom: 14px;
}

.client-section_cta {
	background-color: #fff;
}

.talent-section {
	background-color: #afd6e7;
}

.talent-section .container p {
	color: #45525A;
}

/*Home Carousels*/
.pivot_carousel--logo {
	width: 120vw;
	left: -10%;
	background: #fff;
	height: 100px;
	margin: 60px 0 20px;
}

.pivot_item {
	height: 100%;
}

.pivot_item p, .pivot_item .pivot_item--bottom p {
	width: 100%;
}

.pivot_carousel--logo .pivot_item {
	width: 150px;
	height: 100px;
	margin: 0 100px;
}

.pivot_carousel--logo img {
	height: 100px;
	width: 150px;
	object-fit: contain;
}

.pivot_carousel.pivot_carousel--cases, .pivot_carousel--process {
	width: clamp(250px, 80vw, 780px);
	height: 360px;
	margin-top: 20px;
}

.pivot_carousel.pivot_carousel--cases .pivot_item, .pivot_carousel--process .pivot_item {
	width: 100%;
	display: flex;
	flex-direction: column;
	margin: 0 10px;
	height: 360px;
}

.pivot_carousel--cases .flickity-prev-next-button, .pivot_carousel--process .flickity-prev-next-button {
	display: none;
}

.pivot_carousel--cases .pivot_item--bottom {
	background-color: #45525A;
}

.pivot_carousel--process .pivot_item--bottom {
	background-color: #fff;
}

.pivot_item--bottom {
	clip-path: polygon(100% 0, 100% calc(100% - 37px), calc(100% - 57px) 100%, 0 100%, 0 0);
	padding: 15px 100px 30px 0;
	flex-grow: 1;
}

.pivot_carousel--cases .pivot_item--top {
	background-color: #fff;
}

.pivot_carousel--process .pivot_item--top {
	background-color: #45525A;
	padding-left: 34px;
}

.pivot_item--top {
	height: 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-right: 20px;
}

.pivot_carousel--cases .pivot_item--top img {
	height: 100px;
	object-fit: contain;
}

.pivot_item--forward {
	width: 30px;
	height: 40px;
	background-color: #e25a3d;
	clip-path: polygon(0 0, 100% 50%, 0 100%);
	cursor: pointer;
}

.pivot_carousel--process .pivot_item--forward {
	background-color: #afd6e7;
}

.pivot_item--top h3 {
	align-self: flex-end;
	color: #fff;
	margin-bottom: 15px;
}

.number {
	display: flex;
	font-size: 5rem;
	color: #fff;
	font-family: 'gilroyExtraBold';
	align-items: center;
	gap: 15px;
}

.pivot_carousel--process p {
	color: black;
}

/*Cards*/
.container_client--cards p, .card_team--team p {
	color: #45525A;
	padding: 0;
}

.card {
	padding: 25px 34px;
	clip-path: polygon(100% 0, 100% calc(100% - 37px), calc(100% - 57px) 100%, 0 100%, 0 0);
	width: clamp(250px, 80vw, 780px);
	border-radius: 0;
	border: 0;
	min-height: 260px;
	max-width: clamp(250px, 80vw, 780px);
}

.card p {
	width: 100%;
}

.card.card_client.card_client--cta::after {
	content: '';
	width: 70px;
	height: 40px;
	position: absolute;
	top: 0;
	left: 0;
	background: #e25a3d;
	clip-path: polygon(0 0, 100% 0, 0 100%);
}

.card.card_client::before, .card_team--team::before {
	content: '';
	width: calc(100% - 2px);
	height: calc(100% - 2px);
	position: absolute;
	top: 1px;
	left: 1px;
	background: white;
	z-index: -1;
	clip-path: polygon(100% 0, 100% calc(100% - 36px), calc(100% - 56px) 100%, 0 100%, 0 0);
}

.card_team--team::before {
	background-color: #fff;
}

.card_team--team {
	margin-top: 15px;
	background-color: #45525A;
}

.card.card_client {
	margin-top: 15px;
	background-color: #e25a3d;
}

h3 {
	font-size: 1.6rem;
	text-transform: uppercase;
	font-family: 'gilroyExtraBold';
	letter-spacing: 0.06em;
}

.home-section a {
	color: #e25a3d;
	font-weight: 600;
	text-transform: uppercase;
	position: relative;
	transition: color 400ms ease;
}

.home-section a:hover {
	color: #45525A;
	text-decoration: none;
}

.home-section .card_client--cta a {
	display: block;
	width: 125px;
}

.home-section .card_client--cta a::after {
	content: '';
	width: 20px;
	height: 10px;
	display: block;
	position: absolute;
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	border-left: 10px solid #e25a3d;
	top: 6px;
	right: 0;
	transition: border-color 400ms ease;
}

.home-section .card_client--cta a:hover::after {
	border-left-color: #45525A;
}

.client-section_consultants {
	background-color: #fff;
}

.client-section_consultants h2 {
	color: #45525A;
}

.card.card_client.card_client--consult {
	display: flex;
	padding: 0;
	flex-direction: row;
}

.card-right {
	padding: 34px 80px 34px 25px;
}

.container.container_cards.container_talent--cards h2 {
	color: #45525A;
}

.card.card_talent.card_talent--current {
	margin-top: 15px;
	height: 220px;
}

.card.card_talent.card_talent--current h3 {
	margin-bottom: 5px;
}

.talent-section .container .card_talent--current p {
	font-size: 1.6rem;
	padding: 0;
}

.card.card_talent.card_talent--current::after {
	content: '';
	width: 7px;
	height: 100%;
	background-color: #45525A;
	position: absolute;
	top: 0;
	left: 0;
}

.card.card_team.card_team--team {
	padding-left: 200px;
}

.card.card_team.card_team--team::after {
	content: '';
	width: 170px;
	height: 100%;
	position: absolute;
	background-color: #45525A;
	left: 0;
	top: 0;
}

/*Contact Form*/
.contact-section {
	background-color: #45525A;
}

.wpcf7 {
	padding: 34px 0;
	background-color: #fff;
	color: #45525A;
	width: clamp(250px, 80vw, 780px);
	clip-path: polygon(100% 0, 100% calc(100% - 37px), calc(100% - 57px) 100%, 0 100%, 0 0);
	position: relative;
}

.wpcf7 label, .wpcf7 p {
	color: #45525A;
	text-transform: uppercase;
	margin: 0 0 14px;
}

.wpcf7 input {
	border-radius: 0;
	border: 1px solid #45525A;
}

.wpcf7 select {
	padding: 5px;
	text-transform: uppercase;
	color: #45525A;
	border: 1px solid #45525A;
	width: 100%;
}

input#CV_button {
	color: #fff;
	border: none;
	border-radius: 15px;
	background-color: #45525A;
	text-transform: uppercase;
	font-family: 'gilroyExtraBold';
	transition: background-color 400ms ease;
	width: 100%;
	max-width: 510px;
}

input#CV_button:hover {
	background-color: #afd6e7;
}

input.wpcf7-form-control.wpcf7-submit {
	background-color: #afd6e7;
	border-radius: 15px;
	border: none;
	text-transform: uppercase;
	font-family: 'gilroyExtraBold';
	line-height: 0;
	padding: 16px;
	transition: all 400ms ease;
	position: absolute;
	display: block;
	left: 56%;
	bottom: 10px;
}

.wpcf7 h3 {
	margin-left: 34px;
}

input#file {
	display: none;
}

span.wpcf7-form-control-wrap.acceptance-55 {
	width: 50%;
	display: inline-block;
}

.wpcf7-list-item {
	display: inline-block;
	margin: 0 0 0 0;
}

input.wpcf7-form-control.wpcf7-submit {
	position: absolute;
	right: 0;
}

form.wpcf7-form.init {
	position: relative;
}

span.ajax-loader {
	bottom: 22px;
	left: 43px;
}

input.wpcf7-form-control.wpcf7-submit:hover {
	color: #fff;
	background-color: black;
}

.wpcf7 form .wpcf7-response-output {
	width: 510px;
	margin-left: 34px;
	background-color: #afd6e7;
	border: none;
	padding: 10px;
	color: #fff;
	clip-path: polygon(100% 0, 100% calc(100% - 17px), calc(100% - 22px) 100%, 0 100%, 0 0);
}

.wpcf7 form.invalid .wpcf7-response-output, .wpcf7 form.unaccepted .wpcf7-response-output {
	border: none;
	background-color: #e25a3d;
}

.form-end {
	position: relative;
	padding-left: 34px;
}

/*Footer*/
footer#colophon {
	display: flex;
	justify-content: center;
	align-items: center;
	/* gap: 30px; */
}

.footer a {
	color: #fff;
	font-size: 2rem;
	margin: 0 15px;
}

.footer a:hover {
	color: #afd6e7;
}

@media screen and (max-width: 1100px) {
	.home_fixed_elements.home_decoration {
		width: 11vw;
		left: 86vw;
	}
	.first-section::after {
		width: 11vw;
	}
}

@media screen and (max-width: 800px) {
	.first-section::after, .home_fixed_elements.home_decoration {
		background-size: cover;
	}
	.card, .pivot_carousel.pivot_carousel--cases, .pivot_carousel--process, .pivot_item p {
		width: 75vw;
	}
	.home-section h2, .home-section p {
		max-width: 75vw;
	}
}

@media screen and (max-width: 600px) {
	nav#site-navigation {
		padding-left: 0;
	}
	nav#site-navigation .hamburger {
		transform: scale(0.7);
		margin-left: 9px;
	}
	img.page-title.pivot-header.bigger {
		width: 220px;
		height: auto;
	}
	nav#site-navigation {
		padding-left: 0;
	}
	.tagline {
		width: 80%;
	}
	.first-section {
		padding-top: 30px;
	}
	.home-card-container.scroll-trigger {
		margin-top: clamp(20px, 5vh, 150px);
	}
	.home-card-container .home-card {
		width: 85%;
		height: 120px;
		flex-basis: 120px;
	}
	.first-section .tagline {
		width: 80%;
	}
	.first-section .tagline h2 {
		font-size: 1.4rem;
		line-height: 105%;
	}
	.home-section {
		padding: 110px 0 80px clamp(20px, 3vw, 150px);
	}
	.home-section h2 {
		font-size: 1.4rem;
	}
	.pivot_carousel.pivot_carousel--cases .pivot_item, .pivot_carousel--process .pivot_item {
		height: 460px;
	}
	.pivot_item--top {
		align-items: flex-end;
	}
	.pivot_item--forward {
		width: 20px;
		height: 30px;
	}
	.pivot_item--top h3 {
		font-size: 1.1rem;
		padding-right: 5px;
	}
	.number {
		font-size: 3rem;
	}
	.card_client img {
		width: 64px;
		height: 92px;
		float: left;
		object-fit: cover;
	}
	.card.card_client.card_client--consult {
		display: block;
	}
	.card-right {
		padding: 10px 10px 10px 34px;
	}
	.card-right h3 {
		display: inline-block;
		height: 89px;
		display: inline-flex;
		align-items: flex-end;
		margin: 0 0 10px 10px;
		font-size: 1.4rem;
	}
	.card.card_team.card_team--team {
		padding: 30px 10px 10px 34px;
	}
	.card.card_team.card_team--team::after {
		width: 100%;
		height: 15px;
	}
	#contact .wpcf7 textarea, #contact .wpcf7 select, #contact .wpcf7 input[type="text"], #contact .wpcf7 input[type="email"] {
		width: 235px;
	}
	#contact input#CV_button {
		max-width: 235px;
	}
	#contact span.wpcf7-form-control-wrap.acceptance-55, #contact .wpcf7 form .wpcf7-response-output {
		width: 235px;
	}
	#contact input.wpcf7-form-control.wpcf7-submit {
		position: static;
		width: 235px;
	}
	#contact form.wpcf7-form.init p:last-of-type {
		position: static;
	}
}

@media screen and (max-width: 320px) {
	.first-section::after {
		background-size: cover;
		position: fixed;
		top: 0;
		right: unset;
		left: 90vw;
	}
}

/*Temporarily Hide Footer Menu*/
div#Footer-menu {
	visibility: hidden;
}

.footer .site-info {
	display: none;
}

.h2-headings {
	text-transform: uppercase;
	margin-top: 2em;
	margin-left: -0.2em;
}

.bar-heading {
	font-size: 3em;
	font-weight: 150;
	line-height: 1.1;
	text-transform: uppercase;
	padding: 0;
	margin: 0;
}

@media (min-width: 992px) {
	.bar-heading {
		font-size: 4.5em;
	}
	.h2-headings {
		margin-left: -0.4em;
	}
}

.first-heading {
	color: #afd6e7;
}

.second-heading {
	color: #87c3b1;
}

.third-heading {
	color: #e25a3d;
}

.fourth-heading {
	color: #45525A;
}

.first-text-content {
	color: #45525A;
	font-size: 0.9em;
	width: 70%;
}

.second-content-header {
	color: #45525A;
	margin: 1em 0;
	margin-left: -2px;
}

.card-outer {
	padding: 2em;
	z-index: 0;
}

.card-outer:not(:first-child) {
	margin-top: 0.3em;
}

.card-outer .card-inner {
	width: 80%;
	color: #45525A;
}

.card-outer .card-inner h3 {
	font-size: 1em;
	text-transform: uppercase;
}

@media (min-width: 992px) {
	.card-outer {
		width: 85%;
	}
}

.first-card {
	background-color: #afd6e7;
}

.second-card {
	background-color: #87c3b1;
}

.third-card {
	background-color: #eb9003;
}

.third-content-header {
	margin: 1em 0;
	width: 50%;
}

@media (min-width: 992px) {
	.carousel {
		width: 85%;
	}
}

.carousel-control-next-icon {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23afd6e7' width='150' height='150' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5L3.75 4l-2.5 2.5L2.75 8l4-4-4-4z'/%3e%3c/svg%3e");
	height: 40px;
	width: 40px;
}

.carousel-inner {
	background-color: #f7f4f4;
	height: 900px;
}

@media (min-width: 768px) {
	.carousel-inner {
		height: 500px;
	}
}

@media (min-width: 1200px) {
	.carousel-inner {
		height: 550px;
	}
}

.carousel-inner-content .carousel-header {
	background-color: #afd6e7;
	padding: 1em;
	font-weight: 900;
}

.carousel-inner-content .carousel-inner-text {
	padding: 2em;
	width: 90%;
}

.carousel-inner-content .carousel-inner-text div {
	width: 90%;
	word-wrap: break-word;
	margin-top: 1.3em;
	margin-bottom: 1.3em;
}

.carousel-control-next .carousel-control-next-icon {
	color: #afd6e7;
}

.wpcf7 textarea, .wpcf7 select, .wpcf7 input[type="text"], .wpcf7 input[type="email"] {
	width: 285px;
}

.wpcf7 textarea {
	width: 285px;
}

@media (min-width: 992px) {
	.wpcf7 textarea, .wpcf7 select, .wpcf7 input[type="text"], .wpcf7 input[type="email"] {
		width: 510px;
	}
	.wpcf7 textarea {
		width: 510px;
	}
}

.contact-headings {
	text-transform: uppercase;
	font-size: 1em;
	font-weight: bold;
	margin-bottom: 0;
}

.contact-main-heading {
	margin-bottom: 0.5em;
}

/*--------------------------------------------------------------
# Components
--------------------------------------------------------------*/
/* Navigation
--------------------------------------------- */
.main-navigation {
	display: block;
	width: 100%;
}

.main-navigation ul {
	list-style: none;
	margin: 0;
	padding-left: 0;
}

.main-navigation ul ul {
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
	float: left;
	position: absolute;
	top: 100%;
	left: -999em;
	z-index: 99999;
}

.main-navigation ul ul ul {
	left: -999em;
	top: 0;
}

.main-navigation ul ul li:hover > ul,
.main-navigation ul ul li.focus > ul {
	display: block;
	left: auto;
}

.main-navigation ul ul a {
	width: 200px;
}

.main-navigation ul li:hover > ul,
.main-navigation ul li.focus > ul {
	left: auto;
}

.main-navigation li {
	position: relative;
}

.main-navigation a {
	display: block;
	text-decoration: none;
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

.site-main .comment-navigation, .site-main
.posts-navigation, .site-main
.post-navigation {
	margin: 0 0 1.5em;
}

.comment-navigation .nav-links,
.posts-navigation .nav-links,
.post-navigation .nav-links {
	display: flex;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
	flex: 1 0 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
	text-align: end;
	flex: 1 0 50%;
}

.site-header {
	margin-top: 5em;
}

.main-navigation ul {
	flex-direction: column;
}

.main-navigation li {
	padding: 0 1em 0 1em;
	font-size: 1.125em;
}

.main-navigation li a {
	color: #90A3AA;
	text-transform: uppercase;
	transition: color 0.3s linear;
	-webkit-transition: color 0.3s linear;
	-moz-transition: color 0.3s linear;
}

.home-page .main-navigation .menu-primary-header-menu-container .menu .pivot {
	visibility: hidden;
}

.main-navigation {
	margin-left: 20px;
}

@media (min-width: 768px) {
	.main-navigation {
		margin-left: 32px;
	}
}

@media (min-width: 992px) {
	.main-navigation {
		display: flex;
		width: 70%;
		flex-direction: column;
		position: absolute;
	}
	.main-navigation ul {
		flex-direction: unset;
	}
	.main-navigation li {
		padding: 0 0.5em 0 0.5em;
		font-size: 0.9em;
	}
	.menu-header-contact-container {
		position: absolute;
		right: 460px;
		z-index: 3;
	}
}

@media (min-width: 1200px) {
	.main-navigation {
		width: 61%;
	}
}

@media (min-width: 1556px) {
	.menu-header-contact-container {
		padding-right: 143px;
	}
}

.main-navigation li.clients a {
	color: #eb9003;
	font-weight: bold;
}

.main-navigation li.clients a:hover {
	opacity: 0.7;
}

.main-navigation li.clients-muted a {
	color: #eb9003;
	opacity: 0.7;
}

.main-navigation li.clients-muted a:hover {
	opacity: 0.5;
}

.main-navigation li.law a {
	color: #afd6e7;
	font-weight: bold;
}

.main-navigation li.law a:hover {
	opacity: 0.7;
}

.main-navigation li.law-muted a {
	color: #afd6e7;
	opacity: 0.7;
}

.main-navigation li.law-muted a:hover {
	opacity: 0.5;
}

.main-navigation li.join a {
	color: #fff;
}

.main-navigation li.join a:hover {
	opacity: 0.7;
}

.home-background {
	position: relative;
}

.home-background-ribbon .top {
	background-position: right top;
	background-repeat: no-repeat;
	position: relative;
	width: 100%;
	min-height: 377.2px;
	z-index: 0;
}

.home-background-ribbon .bottom {
	background-position: right top;
	background-repeat: no-repeat;
	position: relative;
	width: 100%;
	min-height: 337px;
	z-index: 2;
	top: -0.1px;
	background-repeat: repeat-y;
}

.home-background-ribbon .page-title {
	position: absolute;
	right: 40px;
	top: 300px;
}

@media (min-width: 576px) {
	.home-background-ribbon .page-title {
		top: 250px;
	}
}

@media (min-width: 768px) {
	.home-background-ribbon .page-title {
		position: absolute;
		right: 753px;
		top: 250px;
	}
}

@media (min-width: 992px) {
	.home-background-ribbon .page-title {
		top: 265px;
	}
	.home-background-ribbon .bottom {
		top: unset;
	}
}

@media (min-width: 1200px) {
	.home-background-ribbon .bottom {
		min-height: 337px;
	}
}

.home-background-ribbon {
	background-position: right top;
	background-repeat: repeat-y;
	position: absolute;
	width: 36%;
	top: 0;
	height: 50%;
	right: 0;
}

@media (min-width: 992px) {
	.home-background-ribbon {
		width: 30%;
	}
}

.page-background {
	background-position: right;
	background-repeat: repeat-y;
	position: relative;
	z-index: -1;
	position: fixed;
	bottom: -670px;
	right: 0;
	background-size: 140px;
	min-height: 4000px;
	min-width: 100%;
}

.page-background-grey {
	background-position: right;
	background-repeat: repeat-y;
	position: relative;
	z-index: -1;
	position: fixed;
	background-size: 140px;
	bottom: -462px;
	right: 0;
	min-height: 4000px;
	min-width: 100%;
}

.page-background, .page-background-grey {
	background-size: 15%;
}

.home-background {
	background-position: top 55px right 0;
	background-repeat: repeat-y;
	background-size: 137px;
}

@media (min-width: 768px) {
	.page-background, .page-background-grey {
		background-size: 140px;
	}
	.page-background-grey {
		bottom: -492px;
	}
}

@media (min-width: 992px) {
	.home-background-ribbon {
		background-size: unset;
	}
}

.grey-strip {
	height: 100vh;
	position: fixed;
	left: 0;
	background-color: #45525A;
	z-index: -1;
}

.white-strip {
	width: 150px;
	height: 100vh;
	position: fixed;
	right: 0;
	background-color: #fff;
	visibility: hidden;
	z-index: 0;
}

.white-strip.page {
	z-index: -2;
}

.grey-strip-under-white {
	display: none;
}

@media (min-width: 992px) {
	.grey-strip-under-white {
		display: block;
		width: 140px;
		height: 100vh;
		position: fixed;
		right: 0;
		background-color: #45525A;
		z-index: -3;
	}
}

@media (min-width: 1537px) {
	.white-strip.home {
		visibility: visible;
	}
	.grey-strip.page {
		width: calc(100% - 150px);
	}
	.grey-strip-under-white {
		visibility: visible;
		width: 150px;
	}
	.top {
		right: 150px;
	}
	.bottom {
		right: 150px;
	}
	.home-background-ribbon .page-title {
		right: 200px;
	}
	.home-background {
		background-position: top 55px right 150px;
	}
	.page-background {
		right: 150px;
	}
	.page-background-grey {
		right: 150px;
	}
}

.footer {
	margin-top: 2em;
	background-color: #45525A;
	position: relative;
	z-index: 1000000000000000;
}

.footer .site-info {
	margin-left: -1em;
}

.footer .site-info small {
	color: #fff;
	margin-left: 3.3em;
}

.footer .site-info .menu-footer-container {
	margin-top: 1em;
	display: inline-block;
}

.footer .site-info .menu-footer-container .menu {
	display: flex;
	list-style-type: none;
	margin: auto;
}

.footer .site-info .menu-footer-container .menu li {
	padding: 0.2em;
}

.footer .site-info .menu-footer-container .menu li a {
	text-decoration: none;
	padding: 0;
	color: #fff;
}

@media (min-width: 768px) {
	.footer .site-info {
		width: 70%;
		margin-left: unset;
		padding-left: 0em;
	}
}

@media (min-width: 992px) {
	.footer .site-info {
		padding-left: 2.6em;
		margin: unset;
	}
	.footer {
		height: 6em;
	}
	small {
		margin-left: unset;
	}
	.footer .site-info {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		width: 70%;
		vertical-align: middle;
		position: relative;
		top: 50%;
		transform: translateY(-50%);
	}
	.footer .site-info .menu-footer-container {
		margin-top: 0;
	}
	.footer .site-info .menu-footer-container .menu {
		display: flex;
		flex-direction: row;
		list-style-type: none;
		margin: auto;
		padding: 0;
	}
	.footer .site-info .menu-footer-container .menu li {
		padding: 0 0.5em 0 0.5em;
	}
	.footer .site-info .menu-footer-container .menu li a {
		text-decoration: none;
		padding: 0;
		color: #fff;
	}
	.footer .site-info .menu-footer-container .menu li a i {
		padding: 0 0.5em 0 0.5em;
	}
}

@media (min-width: 1200px) {
	.footer {
		height: 4em;
	}
	.footer .site-info {
		width: 51.5%;
		margin-left: unset;
		margin: auto;
		padding-left: unset;
	}
}

.main-navigation ul {
	overflow: hidden;
	/* Hide the element content, while height = 0 */
	height: 100vh;
	opacity: 1;
	transform: translateX(-200%);
	transition: transform 600ms ease-in;
	padding: 10px;
}

.main-navigation.toggled ul {
	height: 100vh;
	box-shadow: 10px 0 0 #45525A;
	transform: translateX(0);
	opacity: 1;
}

.hamburger {
	cursor: pointer;
	margin-left: 20px;
}

.hamburger div {
	width: 35px;
	height: 5px;
	margin: 12px 0;
	transform: rotate(0.93turn);
}

.menu-primary-header-menu-container {
	overflow: hidden;
	/* Hide the element content, while height = 0 */
	height: 0;
	opacity: 0;
	transition: height 0ms 0ms, opacity 600ms 0ms;
}

.menu-primary-header-menu-container.toggled {
	height: auto;
	opacity: 1;
	transition: height 0ms 0ms, opacity 600ms 0ms;
}

.bar1, .bar2, .bar3 {
	width: 35px;
	height: 5px;
	margin: 6px 0;
	transition: 0.4s;
}

.bar1 {
	background-color: #e25a3d;
}

.bar2 {
	background-color: #afd6e7;
}

.bar2.toggled {
	background-color: unset;
}

.bar3 {
	background-color: #87c3b1;
}

.bar3.toggled {
	background-color: unset;
}

.main-navigation li {
	padding: 0;
	line-height: 105%;
	margin-left: 5px;
	text-indent: -5px;
}

.main-navigation li.menu--bold {
	font-weight: 600;
	padding-top: 5px;
}

#primary-menu li.menu--orange a {
	color: #eb9003;
}

#primary-menu li.menu--blue a {
	color: #afd6e7;
}

.hide_fixed #primary-menu li.menu--white a {
	color: #fff;
}

#primary-menu li.menu--white a {
	color: #45525A;
}

.footer {
	height: 0;
	opacity: 0;
	transition: height 0ms 0.5ms, opacity 600ms 0ms;
	position: fixed;
	bottom: 0;
	width: 100vw;
	transform: translateY(200px);
}

.footer .site-info {
	height: 0;
	opacity: 0;
	transition: height 0ms 0.5ms, opacity 600ms 0ms, transform 600ms 0ms;
}

.footer.toggled {
	height: 60px;
	opacity: 1;
	transition: height 0ms 0.5ms, opacity 600ms 0ms, transform 600ms 0ms;
	transform: translateY(0);
}

.footer.toggled .site-info {
	height: 0;
	opacity: 1;
	transition: height 0ms 0.5ms, opacity 600ms 0ms;
}

.footer .site-info .menu-footer-container {
	margin-bottom: 12px;
}

#site-navigation {
	position: fixed;
}

#primary-menu {
	margin-left: 20px;
	z-index: 100000000000000000000;
	position: absolute;
	top: 100px;
	max-width: 168px;
	left: 30px;
	background-color: #fff;
}

@media screen and (max-width: 600px) {
	#primary-menu {
		max-width: 220px;
		left: 0;
	}
}

.hide_fixed #primary-menu {
	background-color: #45525A;
}

.hide_fixed #primary-menu li a {
	color: #90A3AA;
}

.toggled #primary-menu {
	padding: 10px;
}

.tagline {
	position: absolute;
	left: 41px;
	width: 45%;
	visibility: hidden;
	text-transform: uppercase;
}

.tagline h2 {
	font-size: 25px;
	letter-spacing: 0.06em;
}

.home-background-ribbon .page-title {
	position: absolute;
	right: 45px;
	top: 250px;
}

@media (min-width: 500px) {
	.home-background-ribbon .page-title {
		right: 67px;
		bottom: 578px;
	}
}

@media (min-width: 768px) {
	.home-background-ribbon {
		padding-right: 4.5%;
	}
	.home-background-ribbon .top, .home-background-ribbon .bottom {
		position: unset;
	}
	.home-background-ribbon .bottom {
		margin-top: -50px;
		margin-bottom: -54px;
	}
	.tagline {
		top: 439px;
		left: 49px;
		width: 442px;
	}
	.page-title {
		right: 122px;
		top: 165px;
	}
}

.home-background-ribbon .bottom {
	top: -49px;
}

.bottom-addon.bottom {
	top: -102px;
	min-height: 289px;
}

.home-card-container {
	top: 620px;
	left: 10px;
}

@media (min-width: 500px) {
	.home-background-ribbon .page-title {
		left: 32px;
		top: 165px;
	}
}

.home-card.two .container .home-card-title {
	padding-bottom: 1em;
}

@media (min-width: 768px) {
	.home-card.two .container .home-card-title {
		padding-bottom: unset;
	}
}

@media (min-width: 768px) {
	.bottom-addon.bottom {
		top: -159px;
	}
}

@media (min-width: 992px) {
	.home-card-container .home-card {
		width: 350px;
	}
}

@media (min-width: 1200px) {
	.tagline {
		left: 115px;
	}
	.tagline h2 {
		display: block;
	}
}

@media (min-width: 1200px) and (min-width: 1500px) {
	.tagline h2 {
		display: inline;
	}
}

@media (min-width: 1200px) and (min-width: 2568px) {
	.tagline h2 {
		display: block;
	}
}

@media (min-width: 1200px) {
	.home-card-container .home-card {
		width: 491px;
		width: 423px;
		height: 152px;
	}
	.page-title {
		left: 100px;
	}
	.home-card-container {
		left: 81px;
	}
}

.fa-caret-down.white {
	top: 830px;
}

@media (min-width: 992px) {
	.home-background-ribbon .bottom {
		top: -50px;
	}
}

@media (min-width: 992px) {
	.fa-caret-down.white {
		top: 800px;
	}
}

.home-background-ribbon .top {
	z-index: 1;
}

.next-section {
	padding-left: 168px;
	padding-left: 27px;
}

header#masthead {
	position: fixed;
	z-index: 1000;
}

@media (min-width: 1537px) {
	.home-background-ribbon .page-title {
		left: -1666px;
	}
	.tagline {
		top: 446px;
	}
	.fa-caret-down.white {
		top: 800px;
	}
	.next-section {
		padding-left: 321px;
		padding-left: 0;
	}
	.page-title {
		top: 165px;
	}
	.home-background-ribbon {
		padding-right: 116px;
	}
}

#site-navigation {
	width: 100vw;
	margin: 0;
	padding-left: 32px;
	height: 100px;
	top: 0;
	align-items: flex-end;
	padding-bottom: 10px;
	background-color: #fff;
	transition: background-color .8s ease-in;
	flex-direction: row;
	display: flex;
}

.hide_fixed #site-navigation {
	background-color: transparent;
}

.home_fixed_elements.home_next.hide {
	transform: translate(0, 110%);
}

.home-wayfinder {
	font-size: 1.6rem;
	text-transform: uppercase;
	font-family: 'gilroyExtraBold';
	letter-spacing: 0.06em;
	position: absolute;
	left: clamp(84px, calc(10vw + 34px), 184px);
}

@media screen and (max-width: 600px) {
	.home-wayfinder {
		left: 54px;
	}
}

/*Temporarily Hide Footer Menu*/
div#Footer-menu {
	visibility: hidden;
}

.footer .site-info {
	display: none;
}

/* Posts and pages
--------------------------------------------- */
.sticky {
	display: block;
}

.post,
.page {
	margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

/* Comments
--------------------------------------------- */
.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {
	display: block;
}

/* Widgets
--------------------------------------------- */
.widget {
	margin: 0 0 1.5em;
}

.widget select {
	max-width: 100%;
}

/* Media
--------------------------------------------- */
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure logo link wraps around logo image. */
.custom-logo-link {
	display: inline-block;
}

/* Captions
--------------------------------------------- */
.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}

.wp-caption-text {
	text-align: center;
}

/* Galleries
--------------------------------------------- */
.gallery {
	margin-bottom: 1.5em;
	display: grid;
	grid-gap: 1.5em;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	width: 100%;
}

.gallery-columns-2 {
	grid-template-columns: repeat(2, 1fr);
}

.gallery-columns-3 {
	grid-template-columns: repeat(3, 1fr);
}

.gallery-columns-4 {
	grid-template-columns: repeat(4, 1fr);
}

.gallery-columns-5 {
	grid-template-columns: repeat(5, 1fr);
}

.gallery-columns-6 {
	grid-template-columns: repeat(6, 1fr);
}

.gallery-columns-7 {
	grid-template-columns: repeat(7, 1fr);
}

.gallery-columns-8 {
	grid-template-columns: repeat(8, 1fr);
}

.gallery-columns-9 {
	grid-template-columns: repeat(9, 1fr);
}

.gallery-caption {
	display: block;
}

/* Animations
--------------------------------------------- */
@keyframes slideInFromLeft {
	0% {
		transform: translateX(-100%);
	}
	100% {
		transform: translateX(0);
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;
		visibility: visible;
	}
	100% {
		transform: 1;
		visibility: visible;
	}
}

@keyframes animatedBackgroundPage {
	from {
		background-position: left top;
		bottom: -200px;
	}
	to {
		background-position: right top;
		bottom: -200px;
	}
}

@keyframes animatedBackground {
	from {
		background-position: left top;
	}
	to {
		background-position: right top;
	}
}

@keyframes slideIntoPlace {
	from {
		bottom: 0;
	}
	to {
		bottom: -200px;
	}
}

@keyframes delayAndHide {
	0% {
		visibility: hidden;
	}
	100% {
		visibility: visible;
	}
}

@keyframes fadeOut {
	0% {
		opacity: 1;
		visibility: visible;
	}
	100% {
		opacity: 0;
		visibility: hidden;
	}
}

@keyframes fadeToWhite {
	0% {
		background-color: #45525A;
	}
	100% {
		opacity: #fff;
	}
}

.forefront-element {
	-webkit-transform: translateZ(999px) scale(0.7);
	transform: translateZ(999px) scale(0.7);
	z-index: 1;
}

.base-element {
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	z-index: 4;
}

.background-element {
	-webkit-transform: translateZ(-999px) scale(2);
	transform: translateZ(-999px) scale(2);
	z-index: 3;
}

/*
@keyframes slideRibbon {
  // 0% {
  //   right: 640px;
  //   }
  // 100% {
  //   right: 76px;
  // }

  0% {
    // right: 5000px;
    transform: translateX(-1000px);
    }
  100% {
    // right: 152px;
    transform: translateX(0);
  }
}

@keyframes slideRibbonMobile {
  0% {
    right: 640px;
    }
  100% {
    right: 0px;
  }
}

@keyframes slideRibbonLarge {
  0% {
    // right: 5000px;
    transform: translateX(-2500px);
    }
  100% {
    // right: 152px;
    transform: translateX(0);
  }
}

@keyframes slideRibbonDesktop {
  0% {
    // right: 5000px;
    transform: translateX(-1500px);
    }
  100% {
    // right: 152px;
    transform: translateX(0);
  }
}

@keyframes wipeBackground {
  0% {
    // right: 5000px;
    width: 0%;
    }
  100% {
    // right: 152px;
    width: 100%;
    visibility: visible;
  }
}*/
@keyframes wipeBackgroundDesktop {
	0% {
		width: 0;
		opacity: 0;
		padding-left: 0;
	}
	10% {
		opacity: 1;
	}
	100% {
		width: 100vw;
		visibility: visible;
		padding-left: clamp(50px, 10vw, 150px);
	}
}

@keyframes wipeBackgroundDesktopMobile {
	0% {
		width: 0;
		opacity: 0;
		padding-left: 0;
	}
	10% {
		opacity: 1;
	}
	100% {
		width: 100vw;
		visibility: visible;
		padding-left: clamp(20px, 5vw, 150px);
	}
}

@keyframes wipeBackgroundRibbon {
	0% {
		left: -10vw;
		opacity: 0;
	}
	10% {
		opacity: 1;
	}
	100% {
		left: 90vw;
		visibility: visible;
	}
}

/*
@keyframes wipeBackgroundDesktopExpand{
  0%{
    width:100vw;
    visibility: visible; 
    padding-left: clamp(50px, 10vw, 150px);
    opacity:1;
  }
  100%{
    width:105vw;
    visibility: visible; 
    padding-left: clamp(50px, 10vw, 150px);
    opacity:1; 
  }
}

@keyframes wipeBackgroundDesktopShrink{
  0%{
    width:105vw;
    visibility: visible; 
    padding-left: clamp(50px, 10vw, 150px);
    opacity:1;
  }
  100%{
    width:100vw;
    visibility: visible; 
    padding-left: clamp(50px, 10vw, 150px);
    opacity:1; 
  }
}*/
.home-full-background {
	width: 95%;
}

.first-section {
	visibility: hidden;
	animation: 1.5s ease-in-out 1s 1 wipeBackgroundDesktop forwards;
	height: 100%;
	min-height: 100vh;
	position: relative;
}

@media screen and (max-width: 600px) {
	.first-section {
		animation: 1.5s ease-in-out 1s 1 wipeBackgroundDesktopMobile forwards;
	}
}

.home_fixed_elements.home_decoration {
	visibility: hidden;
	animation: 1.5s ease-in-out 1s 1 wipeBackgroundRibbon forwards;
}

/*
.first-section.expand{
  animation: 200ms ease-in-out 0s 1 wipeBackgroundDesktopExpand forwards;
}

.first-section.shrink{
  animation: 350ms ease-in-out 0s 1 wipeBackgroundDesktopShrink forwards;
}
*/
.hamburger {
	visibility: hidden;
	animation: 0.5s delayAndHide linear 4s forwards, 0.7s ease-in-out 4s 1 fadeIn;
}

.home-card-container {
	animation: 2s ease-out 3s 1 fadeIn;
	animation-fill-mode: forwards;
}

.fa-caret-down.white, .down-arrow-white {
	width: 33px;
	visibility: hidden;
	animation: 0.5s ease-out 4s 1 fadeIn;
	animation-fill-mode: forwards;
}

.tagline {
	animation: 2s ease-out 3s 1 fadeIn;
	animation-fill-mode: forwards;
}

.page-title {
	position: absolute;
	left: 35px;
	font-size: 4.5em;
	z-index: 2;
	visibility: hidden;
	animation: 0.5s delayAndHide linear 2.5s forwards, 3s ease-in-out 2.5s 1 fadeIn;
}

.client-solutions-headings {
	overflow: hidden;
}

.is-visible.client-solutions-headings .bar-heading {
	animation: 0.8s ease-out 0s 1 slideInFromLeft;
}

.three-cards {
	overflow: hidden;
}

.is-visible.first-card {
	animation: 0.8s cubic-bezier(0.1, 0.3, 0.9, 0.1) 0s 1 slideInFromLeft;
}

.is-visible.second-card {
	animation: 0.8s cubic-bezier(0.1, 0.3, 0.9, 0.1) 0s 1 slideInFromLeft;
}

.is-visible.third-card {
	animation: 0.8s cubic-bezier(0.1, 0.3, 0.9, 0.1) 0s 1 slideInFromLeft;
}

.is-visible.fade-content {
	animation: 1s ease-out 0s 1 fadeIn;
}

.page-background {
	z-index: -1;
}

.page-background-grey {
	animation: 1s ease-in-out 0s 1 fadeOut;
	animation-fill-mode: forwards;
}

.site.pages {
	animation: 1s ease-in-out 0s 1 fadeToWhite;
	animation-fill-mode: forwards;
}

.page.grey-strip {
	animation: 1s ease-in-out 0s 1 fadeOut;
	animation-fill-mode: forwards;
}

.page.white-strip {
	animation: 1s ease-in-out 0s 1 fadeOut;
}

@media (min-width: 1537px) {
	.page.white-strip {
		animation: 1s ease-in-out 0s 1 fadeIn;
	}
}

.lawyers-headings {
	overflow: hidden;
}

.is-visible.lawyers-headings .bar-heading {
	animation: 0.8s ease-out 0s 1 slideInFromLeft;
}

/*--------------------------------------------------------------
# Plugins
--------------------------------------------------------------*/
/* Jetpack infinite scroll
--------------------------------------------- */
/* Hide the Posts Navigation and the Footer when Infinite Scroll is in use. */
.infinite-scroll .posts-navigation,
.infinite-scroll.neverending .site-footer {
	display: none;
}

/* Re-display the Theme Footer when Infinite Scroll has reached its end. */
.infinity-end.neverending .site-footer {
	display: block;
}

/*--------------------------------------------------------------
# Utilities
--------------------------------------------------------------*/
/* Accessibility
--------------------------------------------- */
/* Text meant only for screen readers. */
.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important;
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	clip-path: none;
	color: #21759b;
	display: block;
	font-size: 0.875rem;
	font-weight: 700;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000;
}

/* Do not show the outline on the skip link target. */
#primary[tabindex="-1"]:focus {
	outline: 0;
}

/* Alignments
--------------------------------------------- */
.alignleft {
	/*rtl:ignore*/
	float: left;
	/*rtl:ignore*/
	margin-right: 1.5em;
	margin-bottom: 1.5em;
}

.alignright {
	/*rtl:ignore*/
	float: right;
	/*rtl:ignore*/
	margin-left: 1.5em;
	margin-bottom: 1.5em;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1.5em;
}

body {
	max-width: 100vw;
	overflow-x: hidden;
	scroll-behavior: smooth;
}

html {
	scroll-behavior: smooth;
}

@media screen and (max-width: 1100px) {
	html {
		overflow: hidden;
	}
}

/*# sourceMappingURL=style.css.map */