.h2-headings {
    text-transform: uppercase;
    margin-top: 2em;
    margin-left: -0.2em;
}

.bar-heading {
    font-size: 3em;
    font-weight: 150;
    line-height: 1.1;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
}


// Small devices (landscape phones, 576px and up)
// @media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
// @media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 
    .bar-heading {
        font-size: 4.5em;
    }
    .h2-headings {
        margin-left: -0.4em;
    }
 }



// Extra large devices (large desktops, 1200px and up)
// @media (min-width: 1200px) { ... }


.first-heading {
    color: $color__banner-blue;
}

.second-heading {
    color: $color__banner-green;
}

.third-heading {
    color: $color__banner-red;
}

.fourth-heading {
    color: $color__main-off-black;
}

// Text content

.first-text-content {
    color: $color__main-off-black;
    font-size: $font-size-body;
    width: 70%;
}

.second-content-header {
    color: $color__main-off-black;
    margin: 1em 0;
    margin-left: -2px;
}

// Cards

.card-outer {
    padding: 2em;
    // width: 95%;
    z-index: 0;
    &:not(:first-child) {
        margin-top: 0.3em;
    }
    & .card-inner {
        width: 80%;
        color: $color__main-off-black;
        & h3 {
            font-size: 1em;
            text-transform: uppercase;
        }

    }
}

@media (min-width: 992px) { 
    .card-outer {
        width: 85%;
    }
 }

.first-card {
    background-color: $color__banner-blue;
}

.second-card {
    background-color: $color__banner-green;
}

.third-card {
    background-color: $color__banner-yellow;
}

.third-content-header {
    margin: 1em 0;
    width: 50%;
}


// Carousel

@media (min-width: 992px) { 
    .carousel {
        width: 85%;
    }
 }

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23afd6e7' width='150' height='150' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5L3.75 4l-2.5 2.5L2.75 8l4-4-4-4z'/%3e%3c/svg%3e");
    height: 40px;
    width: 40px;
  }
  

.carousel-inner {
    background-color: $color__main-light-grey;
    height: 900px;
}

@media (min-width: 768px) { 
    .carousel-inner {
        height: 500px;
    }
 }

 @media (min-width: 1200px) { 
    .carousel-inner {
        height: 550px;
    }
 }

.carousel-inner-content {

    & .carousel-header {
        background-color: $color__banner-blue;
        padding: 1em;
        font-weight: 900;
    }

    & .carousel-inner-text {
        padding: 2em;
        width: 90%;
        
        & div {
            width: 90%;
            word-wrap: break-word;
            margin-top: 1.3em;
            margin-bottom: 1.3em;
        }
    }
}

.carousel-control-next {
    & .carousel-control-next-icon {
        color: $color__banner-blue;
    }
}

