.pivot-header {
    display: flex;
    margin-top: 3%;
    z-index: 1;
}

.page-title {
    color: $color__main-white;
    display: flex;
    z-index: 1;
    margin: 0;
    margin-left: 14px;
}


.home-card {
    background-color: white;
}

.first-section {
    background-color: #45525a;
    position: relative;
    left: calc(-50vw + 50%);
    background-color: #45525a;
    height:100%;
    min-height:100vh;
    overflow: visible;
    padding: 17vh 0 80px 150px;

}


.home-card-container .home-card .container a {
    display: block;
    height: 100%;
}

.home-card-container .home-card .container a:hover{
    text-decoration:none;
}

.home-card-container .home-card .container{
    height:100%;
}

.home-card{
    transition:background-color 400ms ease
}

.home-card.one:hover {
    background-color: green;
}
.home-card.two:hover {
    background-color: yellow;
}

.home-card-container {
    position: absolute;
    // bottom: 220px;
    text-transform: uppercase;
    top: 550px;
    // bottom: 130px;
    left: 15%;
    display: flex;
    flex-direction: row;
    visibility: hidden;
    display: flex;
    flex-direction: column;

    .home-card {
        flex: 1 1 50%;
        margin-right: 5px;
        clip-path: polygon(100% 0, 100% 79%, 86% 100%, 0 100%, 0 0);
        // height: 175px;
        width: 230px;
        // height: 216px;
        height: 100px;
        cursor: pointer;
        z-index: 100000;

        h2 {
            font-size: $mobile-heading;
        }
    
        .container {
            margin: 0;
            margin-top: 40px;
            width: 75%;
            margin-left: 19px;
    
            .home-card-title {
                font-weight: bold;
                font-family: 'gilroyExtraBold';
                color: #fff;
                letter-spacing: 0.5px;
            }
        }
    
        &.one {
            background-color: $color__banner-blue;
            margin-bottom: 10px;
        }
    
        &.two {
            background-color: $color__banner-red;
        }
    }
}

.fa-caret-down.white, .down-arrow-white{
    color: #fff;
    font-size: 70px;
    cursor: pointer;
    position: absolute;
    // bottom: 135px;
    bottom: 120px
}


@media (min-width: 768px) {
    .home-card-container {
        position: absolute;
        // bottom: 40px;
        // bottom: 190px;
        top: 550px;
        left: 15%;
        display: flex;
        flex-direction: row;
        visibility: hidden;
        animation: 2s ease-out 2s 1 fadeIn;
        animation-fill-mode: forwards;
    }
    
    .home-card {
        flex: 1 1 50%;
        margin-right: 5px;
        clip-path: polygon(100% 0, 100% 72%, 86% 100%, 0 100%, 0 0);
        height: 175px;
        width: 450px;
        cursor: pointer;
        z-index: 100000;
    
        .container {
            margin: 0;
            margin-top: 20px;
            width: 75%;
            margin-left: 19px;
    
            .home-card-title {
                color: #fff;
            }
        }
    
        &.one {
            background-color: $color__banner-blue;
        }
    
        &.two {
            background-color: $color__banner-red;
        }
    }

    .fa-caret-down.white, .down-arrow-white {
        // bottom: 90px;
        bottom: 120px;    
    }
}



.fa-caret-down.white, .down-arrow-white {
    color: #fff;
    font-size: 70px;
    cursor: pointer;
    position: absolute;
    // bottom: -30px;
    // bottom: 90px;
    // bottom: 120px;
    top: 820px;
    // right: 36%;
    right: 50%;
    @media (min-width: 992px) {
        right: 50%;
    }


}

.tagline {
    position: absolute;
    top: 295px;
    left: 263px;
    width: 45%;
    // visibility: hidden;
    // animation: 2s ease-out 2s 1 fadeIn;
    // animation-fill-mode: forwards;
    text-transform: uppercase;
    font-size: 25px;

    @media (min-width: 500px) {
        top: 325px;
        // top: 439px;
    }

    @media (min-width: 992px) {
        width: 1294.2px;
    }


    h2 {
        color: #fff;
        font-family: 'gilroyExtraBold';
        font-weight: bold;
        // letter-spacing: 2px;
        display: inline;


        @media (min-width: 950px) {
            display: block;
        }

        @media (min-width: 1500px) {
            display: inline;
        }

        @media (min-width: 2568px) {
            display: block;
        } 
    }
}
img.page-title.pivot-header.bigger {
    height: fit-content;
    display:block;
    margin-left: 34px;
    height: 20vh;
	max-height: 138px;
}

.home-card-container .home-card {
    width: 491px;
    width: 423px;
    height: 152px;
    flex-basis: 423px;
    flex-grow: 0;
    transition:background-color 400ms ease;
}

.home-card.one:hover {
    background-color:#fff;
    .container a .home-card-title{
        color:$color__banner-blue;
    }
}

.home-card.two:hover {
    background-color:#fff;
    .container a .home-card-title{
        color:$color__banner-red;
    }
}



.home-section {
    min-height: 100vh;
    width:100vw;
}

.home-section > div {
    opacity: 0;
    transform: translate(0,50%);
    transition: transform 800ms ease-in, opacity 400ms ease-in;
}

.home-section.reveal > div {
    opacity: 1;
    transform: translate(0,0);
}

.tagline {
    margin: 25px 0 0 34px;
}

.home-card-container {
    margin-top: 14vh;
}

.home_fixed_elements {
    position: fixed;
    bottom: 0;
    z-index: 1000;
}

img.down-arrow.down-arrow-grey {
    width: 33px;
}

.home_fixed_elements.home_next {
    width: 100vw;
    left: 0;
    display: flex;
    height: 50px;
    background-color: $color__main-white;
    justify-content: center;
    align-items: center;
    transform: translate(0,0);
    transition: transform .8s ease-in;
}
.hide_fixed .home_fixed_elements.home_next{
    transform: translate(0,110%);
}

.home_fixed_elements.home_decoration{
    background-image: url('assets/ribbon_long_white.png');
    height: 100vh;
    top: 0;
    width: 7vw;
    background-repeat: no-repeat;
    left:90vw;
    transition: transform .5s ease-in;
    background-size: cover;
    transform: scaleX(1);
}

/*.hide_fixed .home_fixed_elements.home_decoration{
    transform: scaleX(-1);
    transition: transform .5s ease-out;
}
*/

.home_fixed_elements.home_decoration::after {
    content: '';
    width: 4vw;
    height: 100vh; 
    position: absolute;
    top: 0;
    right: -3.9vw;
    background-color:#fff;
}
/*
.first-section::after {
    content: '';
    position: absolute;
    width: 7vw;
    top: 0;
    height: 100vh;
    right:-6.9vw;
    background-image: url("assets/home_ribbon_long_r.png");
    background-position: top left;
    background-repeat: no-repeat;
    background-size: cover;
}*/


.page-title.pivot-header, .first-section .tagline, .home-card-container {
    position: static;
}



a.arrow {
    position: absolute;
    width: 100vw;
    height: 34px;
    left: 0;
    bottom: 10px;
    text-align: center;
}

a.arrow img.down-arrow.down-arrow-white {
    position: static;
}

.client-section{
    background-color:$color__banner-red;
}

/*Home Containers*/

.home-section {
    padding: 150px 0 70px clamp(50px,10vw,150px);
    position: relative;
    left: calc(-50vw + 50%);
}

.home-section .container {
    margin: 0;
    padding: 0;
}

.home-section h2, .home-section p {
    color: #fff;
    width: clamp(250px,80vw,780px);
    padding-left: 34px;
}

.home-section p{
    margin-bottom:14px;
}

.home-section h2 {
    font-size: 4rem;
    text-transform: uppercase;
    line-height: 105%;
    font-family: 'gilroyLight';
    margin:0;
}

h2.intro--header{
    color:$color__main-off-black;
}

h2.intro--subheader {
    margin-bottom: 14px;
}

.client-section_cta {
    background-color: #fff;
}

.talent-section {
    background-color: $color__banner-blue;
}

.talent-section .container p {
    color: $color__main-off-black;
}

/*Home Carousels*/
.pivot_carousel--logo {
    width: 120vw;
    left: -10%;
    background: #fff;
    height: 100px;
    margin: 60px 0 20px;
}


.pivot_item {
    height: 100%;
   
}
.pivot_item p, .pivot_item .pivot_item--bottom p{
    width:100%;
}

.pivot_carousel--logo .pivot_item{
    width: 150px;
    height:100px;
    margin: 0 100px;
}

.pivot_carousel--logo img {
    height: 100px;
    width: 150px;
    object-fit: contain;
}


.pivot_carousel.pivot_carousel--cases, .pivot_carousel--process {
    width: clamp(250px,80vw,780px);
    height: 360px;
    margin-top: 20px;
}

.pivot_carousel.pivot_carousel--cases .pivot_item, .pivot_carousel--process .pivot_item{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 10px;
    height:360px;
}

.pivot_carousel--cases .flickity-prev-next-button, .pivot_carousel--process .flickity-prev-next-button{
    display: none;
}

.pivot_carousel--cases .pivot_item--bottom {
    background-color: $color__main-off-black;
}

.pivot_carousel--process .pivot_item--bottom{
    background-color: #fff;
}

.pivot_item--bottom {
    clip-path: polygon(100% 0, 100% calc(100% - 37px), calc(100% - 57px) 100%, 0 100%, 0 0);
    padding:15px 100px 30px 0;
    flex-grow:1;
}

.pivot_carousel--cases .pivot_item--top {
    background-color: #fff;
}

.pivot_carousel--process .pivot_item--top {
    background-color: $color__main-off-black;
    padding-left: 34px;
}

.pivot_item--top {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 20px;
}

.pivot_carousel--cases .pivot_item--top img {
    height: 100px;
    object-fit: contain;
}

.pivot_item--forward {
    width: 30px;
    height: 40px;
    background-color: $color__banner-red;
    clip-path:polygon(0 0, 100% 50%, 0 100%);
    cursor:pointer;
}

.pivot_carousel--process .pivot_item--forward {
    background-color: $color__banner-blue;
}
.pivot_item--top h3 {
    align-self: flex-end;
    color: #fff;
    margin-bottom: 15px;
}

.number {
    display: flex;
    font-size: 5rem;
    color: #fff;
    font-family: 'gilroyExtraBold';
    align-items: center;
    gap: 15px;
}



.pivot_carousel--process p {
    color: black;
}
/*Cards*/ 
.container_client--cards p, .card_team--team p {
    color:$color__main-off-black;
    padding: 0;
}

.card {
    padding: 25px 34px;
    clip-path:polygon(100% 0, 100% calc(100% - 37px), calc(100% - 57px) 100%, 0 100%, 0 0);
    width: clamp(250px,80vw,780px);
    border-radius:0;
    border:0;
    min-height: 260px;
    max-width: clamp(250px,80vw,780px);
}

.card p {
    width: 100%;
}

.card.card_client.card_client--cta::after {
    content: '';
    width: 70px;
    height: 40px;
    position: absolute; 
    top: 0;
    left: 0;
    background:$color__banner-red;
    clip-path:polygon(0 0,100% 0, 0 100%)
}

.card.card_client::before, .card_team--team::before {
    content: '';
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    position:absolute;
    top: 1px;
    left: 1px;
    background: white;
    z-index: -1;
    clip-path: polygon(100% 0, 100% calc(100% - 36px), calc(100% - 56px) 100%, 0 100%, 0 0);
}
.card_team--team::before{
    background-color: #fff;
}
.card_team--team{
    margin-top:15px;
    background-color: $color__main-off-black;
}
.card.card_client{
    margin-top: 15px;
	background-color: $color__banner-red;
}

h3 {
    font-size: 1.6rem;
    text-transform: uppercase;
    font-family: 'gilroyExtraBold';
    letter-spacing: 0.06em;
}

.home-section a {
    color: $color__banner-red;
    font-weight: 600;
    text-transform: uppercase;
    position: relative;
    transition:color 400ms ease;
}

.home-section a:hover {
    color: $color__main-off-black;
    text-decoration: none;
}
.home-section .card_client--cta a{
    display:block;
    width:125px;
}
.home-section .card_client--cta a::after {
    content: '';
    width: 20px;
    height: 10px;
    display: block;
    position: absolute;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left:10px solid $color__banner-red;
    top:6px;
    right:0;
    transition:border-color 400ms ease;
}

.home-section .card_client--cta a:hover::after{
    border-left-color:$color__main-off-black;
}

.client-section_consultants {
    background-color: #fff;
}

.client-section_consultants h2 {
    color:$color__main-off-black;
}
.card.card_client.card_client--consult {
    display: flex;
    padding: 0;
    flex-direction: row;
}

.card-right {
    padding: 34px 80px 34px 25px;
}

.container.container_cards.container_talent--cards h2 {
    color: $color__main-off-black;
}

.card.card_talent.card_talent--current {
    margin-top: 15px;
    height: 220px;
}

.card.card_talent.card_talent--current h3 {
    margin-bottom: 5px;
}

.talent-section .container  .card_talent--current p {
    font-size: 1.6rem;
    padding: 0;
}

.card.card_talent.card_talent--current::after {
    content: '';
    width: 7px;
    height: 100%;
    background-color: $color__main-off-black;
    position: absolute;
    top: 0;
    left: 0;
}
.card.card_team.card_team--team {
    padding-left: 200px;
}

.card.card_team.card_team--team::after {
    content: '';
    width: 170px;
    height: 100%;
    position: absolute;
    background-color: $color__main-off-black;
    left: 0;
    top: 0;
}

/*Contact Form*/

.contact-section {
    background-color: $color__main-off-black;
}

.wpcf7 {
    padding: 34px 0;
    background-color: #fff;
    color: $color__main-off-black;
    width: clamp(250px,80vw,780px);
    clip-path: polygon(100% 0, 100% calc(100% - 37px), calc(100% - 57px) 100%, 0 100%, 0 0);
    position:relative;
}

.wpcf7 label, .wpcf7 p {
    color: $color__main-off-black;
    text-transform: uppercase;
    margin: 0 0 14px;
}

.wpcf7 input {
    border-radius: 0;
    border: 1px solid $color__main-off-black;
    
}

.wpcf7 select {
    padding: 5px;
    text-transform: uppercase;
    color: $color__main-off-black;
    border: 1px solid $color__main-off-black;
    width:100%;
}

input#CV_button {
    color: #fff;
    border: none;
    border-radius: 15px;
    background-color: $color__main-off-black;
    text-transform: uppercase;
    font-family: 'gilroyExtraBold';
    transition:background-color 400ms ease;
    width:100%;
    max-width:510px;
}

input#CV_button:hover{
    background-color:$color__banner-blue;
}
input.wpcf7-form-control.wpcf7-submit{
    background-color:$color__banner-blue;
    border-radius: 15px;
    border: none;
	text-transform: uppercase;
	font-family: 'gilroyExtraBold';
	line-height: 0;
	padding: 16px;
	transition: all 400ms ease;
    position: absolute;
    display: block;
    left: 56%;
    bottom: 10px;
}

.wpcf7 h3 {
    margin-left: 34px;
}

input#file {
    display: none;
}

span.wpcf7-form-control-wrap.acceptance-55 {
    width: 50%;
    display: inline-block;
}

.wpcf7-list-item {
    display: inline-block;
    margin: 0 0 0 0;
}

input.wpcf7-form-control.wpcf7-submit {
    position: absolute;
    right: 0;
}

form.wpcf7-form.init {
    position: relative;
}

span.ajax-loader {
    bottom: 22px;
    left: 43px;
}

input.wpcf7-form-control.wpcf7-submit:hover {
    color: #fff;
    background-color: black;
}

.wpcf7 form .wpcf7-response-output {
    width: 510px;
    margin-left: 34px;
    background-color: $color__banner-blue;
    border: none;
    padding: 10px;
    color: #fff;
    clip-path: polygon(100% 0, 100% calc(100% - 17px), calc(100% - 22px) 100%, 0 100%, 0 0);
}

.wpcf7 form.invalid .wpcf7-response-output, .wpcf7 form.unaccepted .wpcf7-response-output{
    border:none;
    background-color: $color__banner-red;
}

.form-end{
    position: relative;
    padding-left:34px;
}

/*Footer*/
footer#colophon {
    display: flex;
    justify-content: center;
    align-items: center;
    /* gap: 30px; */
}

.footer a {
    color: #fff;
    font-size: 2rem;
    margin: 0 15px;
}

.footer a:hover {
    color: $color__banner-blue;
}

@media screen and (max-width:1100px){
    .home_fixed_elements.home_decoration {
        width: 11vw;
        left: 86vw;
    }

    .first-section::after {
        width: 11vw;
    }
}
@media  screen and (max-width:800px) {
    .first-section::after, .home_fixed_elements.home_decoration {
        background-size: cover;
    }
    .card, .pivot_carousel.pivot_carousel--cases, .pivot_carousel--process, .pivot_item p {
        width: 75vw;
    }
    .home-section h2, .home-section p{
        max-width:75vw;
    }
}

@media screen and (max-width:600px) {
    nav#site-navigation {
        padding-left: 0;

        .hamburger {
            transform: scale(0.7);
            margin-left: 9px;
        }
    
    }

   

    img.page-title.pivot-header.bigger {
        width: 220px;
        height: auto;
    }
    
    nav#site-navigation {
        padding-left: 0;
    }
    
    .tagline {
        width: 80%;
    }
    
    .first-section {
        padding-top: 30px;
    }
    
    .home-card-container.scroll-trigger {
        margin-top: clamp(20px, 5vh,150px);
    }
    
    .home-card-container .home-card {
        width: 85%;
        height: 120px;
        flex-basis: 120px;
    }
    .first-section .tagline{
        width:80%;
    }
    .first-section .tagline h2 {
        font-size: 1.4rem;
        line-height:105%;
    }

    .home-section {
        padding: 110px 0 80px clamp(20px, 3vw, 150px);
    }
    
    .home-section h2 {
        font-size: 1.4rem;
    }

    .pivot_carousel.pivot_carousel--cases .pivot_item, .pivot_carousel--process .pivot_item{
        height: 460px;
    }

    .pivot_item--top {
        align-items: flex-end;
    }

    .pivot_item--forward {
        width: 20px;
        height: 30px;
    }

    .pivot_item--top h3 {
        font-size: 1.1rem;
        padding-right: 5px;
    }

    .number {
        font-size: 3rem;
    }
    
    .card_client img {
        width: 64px;
        height: 92px;
        float: left;
        object-fit: cover;
    }
    
    .card.card_client.card_client--consult {
        display: block;
    }
    
    .card-right {
        padding: 10px 10px 10px 34px;
    }
    
    .card-right h3 {
        display: inline-block;
        height: 89px;
        display: inline-flex;
        align-items: flex-end;
        margin: 0 0 10px 10px;
        font-size:1.4rem;
    }

    .card.card_team.card_team--team {
        padding: 30px 10px 10px 34px;
    }
    
    .card.card_team.card_team--team::after {
        width: 100%;
        height: 15px;
    }
    #contact{
        .wpcf7 textarea, .wpcf7 select, .wpcf7 input[type="text"], .wpcf7 input[type="email"] {
            width: 235px;
        }
        
        input#CV_button {
            max-width: 235px;
        }
        
        span.wpcf7-form-control-wrap.acceptance-55, .wpcf7 form .wpcf7-response-output {
            width: 235px;
        }
        
        input.wpcf7-form-control.wpcf7-submit {
            position: static;
            width: 235px;
        }
        
        form.wpcf7-form.init p:last-of-type {
            position: static;
        }
    }
}

@media screen and (max-width:320px) {
    .first-section::after {
        background-size: cover;
        position: fixed;
        top: 0;
        right: unset;
        left: 90vw;
    }
}


/*Temporarily Hide Footer Menu*/
div#Footer-menu {
    visibility: hidden;
}

.footer .site-info {
    display: none;
}