// contact form 7

.wpcf7 textarea, .wpcf7 select, .wpcf7 input[type="text"], .wpcf7 input[type="email"] {
    width: 285px;
}

.wpcf7 textarea {
    width: 285px;
}

// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
// @media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
// @media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 
    .wpcf7 textarea, .wpcf7 select, .wpcf7 input[type="text"], .wpcf7 input[type="email"] {
        width: 510px;
    }

    .wpcf7 textarea {
        width: 510px;
    }
 }

// Extra large devices (large desktops, 1200px and up)
// @media (min-width: 1200px) { ... }
