.main-navigation {
	display: block;
	width: 100%;

	ul {
		// display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 100%;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {

				&:hover > ul,
				&.focus > ul {
					display: block;
					left: auto;
				}
			}

			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}

	li {
		position: relative;

		&:hover > a,
		&.focus > a {
		}
	}

	a {
		display: block;
		text-decoration: none;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

// @media screen and (min-width: 37.5em) {

// 	.menu-toggle {
// 		display: none;
// 	}

// 	.main-navigation ul {
// 		display: flex;
// 	}
// }

// .main-navigation ul {
// 	display: flex;
// }

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
	}

	.nav-links {
		display: flex;
	}

	.nav-previous {
		flex: 1 0 50%;
	}

	.nav-next {
		text-align: end;
		flex: 1 0 50%;
	}
}


// Header

.site-header {
	// background-color: red;
	margin-top: 5em;
}

.main-navigation {

	// padding-left: 0.2em;

	& ul {
		flex-direction: column;
	}

	& li {
		padding: 0 1em 0 1em;
		font-size: 1.125em;
	
		& a {
			color: $color__main-grey;
			text-transform: uppercase;
			transition: color 0.3s linear;
			-webkit-transition: color 0.3s linear;
			-moz-transition: color 0.3s linear;
		}
	}
}

// Hide pivot on home screen

.home-page .main-navigation .menu-primary-header-menu-container .menu .pivot {
	visibility: hidden;
}

// Align contact with pivot h1
.main-navigation {
	// margin-left: calc(5% - 19px);
	margin-left: 20px;
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
	.main-navigation {
		margin-left: 32px;
	}
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
	 .main-navigation {
		display: flex;
		width: 70%;
		// margin: auto;
		flex-direction: column;
		// justify-content: space-between;
		// padding-left: 50px; //2.6em before
		position: absolute;

	& ul {
		flex-direction: unset;
	}

	& li {
		padding: 0 0.5em 0 0.5em;
		font-size: 0.9em;
	}

}

.menu-header-contact-container {
	position: absolute;
	right: 460px;
	// left: calc(100% - 576px);
	z-index: 3;
}

// .pivot-header {
// 	position: absolute;
// 	right: 5%;
// }

}

// Extra large devices (large desktops, 1200px and up)
 @media (min-width: 1200px) { 
	 .main-navigation {
		 width: 61%;
		//  margin: auto;
		//  padding-left: 0em;
	 }
  }

  @media (min-width: 1556px) {
	.menu-header-contact-container {
		padding-right: 143px;
	}
  }


// highlighted header colours

.main-navigation {
		// & li.pivot a:hover {
		// 	color: $color__banner-yellow;
		// }

		// & li.client-solutions a:hover {
		// 	color: $color__banner-green;
		// }

		// & li.lawyers a:hover {
		// 	color: $color__banner-red;
		// }
		
		// & li.contact a:hover {
		// 	color: $color__banner-blue;
		// }

		& li.clients a {
			color: $color__banner-yellow;
			font-weight: bold;

			&:hover {
				opacity: 0.7;
			}
		}

		& li.clients-muted a {
			color: $color__banner-yellow;
			opacity: 0.7;

			&:hover {
				opacity: 0.5;
			}
		}

		& li.law a {
			color: $color__banner-blue;
			font-weight: bold;

			&:hover {
				opacity: 0.7;
			}
		}

		& li.law-muted a {
			color: $color__banner-blue;
			opacity: 0.7;

			&:hover {
				opacity: 0.5;
			}
		}

		& li.join a {
			color: #fff;

			&:hover {
				opacity: 0.7;
			}
		}

	}

// Ribbon background img

.home-background {
	position: relative;
	// max-height: 100vh;
}

.home-background-ribbon {	
	& .top {
		background-position: right top;
		background-repeat: no-repeat;
		// background-size: 36%;
		position: relative;
		width: 100%;
		// top: 0;
		min-height: 377.2px;
		// right: 0;
		z-index: 0;
	}

	& .bottom {
		background-position: right top;
		background-repeat: no-repeat;
		// background-size: 36%;
		position: relative;
		width: 100%;
		// top: 0;
		min-height: 337px; //100%
		// right: 0;
		z-index: 2;
		top: -0.1px;
		background-repeat: repeat-y;
		// top: -100px;
	}

	& .page-title {
		position: absolute;
		right: 40px;
		top: 300px; //60% old calc(60% - 40px)
	}
}

// Iphones

// @media only screen 
// and (min-device-width : 375px) 
// and (max-device-width : 812px)
// and (-webkit-device-pixel-ratio : 3) { 
// 	& .page-title {
// 		position: absolute;
// 		right: 11%;
// 		top: calc(40% + 100px);
// 	}
// }

// @media only screen 
// and (min-device-width : 375px) 
// and (max-device-width : 667px) { 
// 	& .page-title {
// 		position: absolute;
// 		right: 11%;
// 		top: calc(40% + 100px);
// 	}
// }

// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { 
	.home-background-ribbon {	

		& .page-title {
			// right: calc(40% - 50px);
			top: 250px ; // calc(55% - 50px)
		}
	}
 }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 
	.home-background-ribbon {	

		& .page-title {
			position: absolute;
			// right: 60px;
			right: 753px;
			top: 250px;
		}
	}
 }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 
	.home-background-ribbon {
		& .page-title {
			top: 265px; //old 70% calc(110% - 160px)
		}

		& .bottom {
			top: unset;
		}
	}
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 	
	.home-background-ribbon {
		& .page-title {
			// right: 14%;
		}
		& .bottom {
			min-height: 337px; //100%
	}
} }

//  Ipad pro, have the ribbon fit the whole page content on home

// @media (width: 1024px) and (height: 1366px) {
	
//     .home-background-ribbon .bottom {
//         min-height: 150%;
//     }
// }

.home-background-ribbon {
	// background-image: url("http://localhost/wp-content/themes/pivot/assets/PIVOT%20ASSETS/home_ribbon_repeat.png");
	background-position: right top;
	background-repeat: repeat-y;
	// background-size: 15%;
	position: absolute;
	width: 36%;
	top: 0;
	// position: absolute;
    height: 50%;
    right: 0;
    // z-index: 1;
}

@media (min-width: 992px) { 
	.home-background-ribbon {
		width: 30%;
	}
}

// .paralax-ribbon {
// 	background-image: url("http://localhost/wp-content/themes/pivot/assets/PIVOT%20ASSETS/page_ribbon_repeat.png");
// 	background-position: right top;
// 	background-repeat: repeat-y;
// 	background-size: 11%;
// 	position: relative;
// 	z-index: 1;
// }

.page-background {
	// background-image: url("http://localhost/wp-content/themes/pivot/assets/PIVOT%20ASSETS/page_ribbon_repeat_lrg.png");
	background-position: right;
	background-repeat: repeat-y;
	// background-attachment: fixed;
	position: relative;
	z-index: -1;
	position: fixed;
	// bottom: -200px;
	bottom: -670px; // -754
	right: 0;
	background-size: 140px;
	// overflow: hidden;
	// offset-position: 0 150px;
    min-height: 4000px; // workaround so the ribbon always takes up the whole page
	min-width: 100%;
}

.page-background-grey {
		// background-image: url("http://localhost/wp-content/themes/pivot/assets/PIVOT%20ASSETS/page_ribbon_repeat_lrg.png");
		background-position: right;
		background-repeat: repeat-y;
		// background-size: 20%;
		// background-attachment: fixed;
		position: relative;
		// background-size: 20%;
		z-index: -1;
		position: fixed;
		background-size: 140px;
		// bottom: -200px;
		bottom: -462px; //754
		right: 0;
		// overflow: hidden;
		// offset-position: 0 150px;
		min-height: 4000px; // workaround so the ribbon always takes up the whole page
		min-width: 100%;
}

.page-background, .page-background-grey {
	background-size: 15%;
}

// .home-full-background {
// 	// background-image: url("http://localhost/wp-content/themes/pivot/assets/PIVOT%20ASSETS/page_ribbon_repeat_lrg.png");
// 	background-position: right;
// 	background-repeat: repeat-y;
// 	margin-top: 200px;
// 	// background-attachment: fixed;
// 	position: relative;
// 	z-index: 0;
// 	position: fixed;
// 	// bottom: -200px;
// 	// bottom: -20px; // -754
// 	right: 0;
// 	// background-size: 140px;
// 	// overflow: hidden;
// 	// offset-position: 0 150px;
//     min-height: 4000px; // workaround so the ribbon always takes up the whole page
//     min-width: 100%;
// }

.home-background {
	// background-image: url("http://localhost/wp-content/themes/pivot/assets/PIVOT%20ASSETS/page_ribbon_repeat_lrg.png");
	// background-position: right;
	background-position: top 55px right 0;
	background-repeat: repeat-y;
	background-size: 137px;
}

// Small devices (landscape phones, 576px and up)
// @media (min-width: 576px) { 
//  }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 
	.page-background, .page-background-grey {
		background-size: 140px;
	}

	.page-background-grey {
		bottom: -492px; //754
	}
 }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 
	
	.home-background-ribbon {
		background-size: unset;
	}
 }

// Extra large devices (large desktops, 1200px and up)
// @media (min-width: 1200px) { ... }


// White strip on extra large devices & grey page background fade

.grey-strip {
    // width: calc(100% - 140px);
    height: 100vh;
    position: fixed;
    left: 0;
	background-color: $color__main-off-black;
	// visibility: hidden;
	z-index: -1;
}

.white-strip {
    width: 150px;
    height: 100vh;
    position: fixed;
    right: 0;
	background-color: $color__main-white;
	visibility: hidden;
	// z-index: 1;
	z-index: 0;
}

.white-strip.page {
	z-index: -2;
}

.grey-strip-under-white {
	display: none;
	
	@media (min-width: 992px){
	display: block;
    width: 140px;
    height: 100vh;
    position: fixed;
    right: 0;
	background-color: $color__main-off-black;
	z-index: -3;
}
}

@media (min-width: 1537px) {
    .white-strip.home {
        visibility: visible;
	}

	// .white-strip.page {
	// 	width: calc(100% - 150px);
	// }

	.grey-strip.page {
		width: calc(100% - 150px);
	}

	.grey-strip-under-white {
		visibility: visible;
		width: 150px;
	}
	
	.top {
		right: 150px;
	}

	.bottom {
		right: 150px;
	}

	.home-background-ribbon .page-title {
		right: 200px;
	}

	.home-background {
		background-position: top 55px right 150px;
	}

	.page-background {
		right: 150px;
	}

	.page-background-grey {
		right: 150px;
	}

	
}


// Footer

.footer {
	margin-top: 2em;
	background-color: $color__main-off-black;
	position: relative;
	z-index: 1000000000000000;
}

.footer .site-info {
	margin-left: -1em;

	& small {
		color: $color__main-white;
		margin-left: 3.3em;
	}

	.menu-footer-container {
		margin-top: 1em;
		display: inline-block;
	}

	& .menu-footer-container .menu {
		display: flex;
		// flex-direction: column;
		// display: inline-block;
		list-style-type: none;
		margin: auto;

		& li {
			padding: 0.2em;

		}

		& li a {
			text-decoration: none;
			padding: 0;
			color: $color__main-white;

			// & i {
			// 	padding: 0 0.5em 0 0.5em;
			// }

		}
	}
} 

// Small devices (landscape phones, 576px and up)
// @media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)

@media (min-width: 768px) {
	.footer .site-info {
		width: 70%;
		margin-left: unset;
		padding-left: 0em;
	}
}

// Large devices (desktops, 992px and up)
 @media (min-width: 992px) { 
	.footer .site-info {
		padding-left: 2.6em;
		margin: unset;
	}

	 .footer {
		 height: 6em;
	 }

	 & small {
		 margin-left: unset;
	 }

	.footer .site-info {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		width: 70%;
		// margin: auto;
		vertical-align: middle;
		position: relative;
		top: 50%;
		transform: translateY(-50%);

		& .menu-footer-container {
			margin-top: 0;
		}


		& .menu-footer-container .menu {
			display: flex;
			flex-direction: row;
			list-style-type: none;
			margin: auto;
			padding: 0;

			& li {
				padding: 0 0.5em 0 0.5em;

			}

			& li a {
				text-decoration: none;
				padding: 0;
				color: $color__main-white;

				& i {
					padding: 0 0.5em 0 0.5em;
				}

			}
		}
}  }

// Extra large devices (large desktops, 1200px and up)
 @media (min-width: 1200px) { 
	.footer {
		height: 4em;
	}

	.footer .site-info {
		width: 51.5%;
		margin-left: unset;
		margin: auto;
		padding-left: unset;
	}

 }

//  Custom hamburge menu

.main-navigation ul {
	overflow: hidden;  /* Hide the element content, while height = 0 */
    height: 100vh;
    opacity: 1;
	transform:translateX(-200%);
    transition: transform 600ms ease-in;
	padding: 10px;
}

.main-navigation.toggled ul {
	height: 100vh; 
	box-shadow: 10px 0 0 $color__main-off-black;
	transform:translateX(0);
	opacity: 1;
}

.hamburger {
	cursor: pointer;
	margin-left: 20px;
}

.hamburger div {
	width: 35px;
	height: 5px;
	// background-color: black;
	margin: 12px 0;
	transform: rotate(0.93turn);

}

.menu-primary-header-menu-container {
    overflow: hidden;  /* Hide the element content, while height = 0 */
    height: 0;
    opacity: 0;
    // transition: height 0ms 0.5s, opacity 400ms 0ms;
	transition: height 0ms 0ms, opacity 600ms 0ms;

}

.menu-primary-header-menu-container.toggled {
    height: auto; 
	opacity: 1;
    transition: height 0ms 0ms, opacity 600ms 0ms;
}

.bar1, .bar2, .bar3 {
	width: 35px;
	height: 5px;
    margin: 6px 0;
	transition: 0.4s;
	// transform: rotate(0.5turn);
  }

.bar1 {
	background-color: $color__banner-red;
}

.bar2 {
	background-color: $color__banner-blue;

	&.toggled {
		background-color: unset;
	}
}

.bar3 {
	background-color: $color__banner-green;
	&.toggled {
		background-color: unset;
	}
}

.main-navigation li {
	padding: 0;
	line-height: 105%;
	margin-left: 5px;
	text-indent: -5px;
}

.main-navigation li.menu--bold {
    font-weight: 600;
    padding-top: 5px;
}

#primary-menu li.menu--orange a {
    color: $color__banner-yellow;
}

#primary-menu li.menu--blue a {
    color: $color__banner-blue;
}

.hide_fixed #primary-menu li.menu--white a {
    color: #fff;
}

#primary-menu li.menu--white a {
    color: $color__main-off-black;
}

// Footer

.footer {
	height: 0; 
	opacity: 0;
	transition: height 0ms 0.5ms, opacity 600ms 0ms;
	position: fixed;
    bottom: 0;
    width: 100vw;
	transform:translateY(200px);

	.site-info {
		height: 0; 
		opacity: 0;
		transition: height 0ms 0.5ms, opacity 600ms 0ms, transform 600ms 0ms;
	}
}

.footer.toggled {
    // height: auto; 
	height: 60px;
	opacity: 1;
    transition: height 0ms 0.5ms, opacity 600ms 0ms, transform 600ms 0ms;
	transform:translateY(0);
	.site-info {
		height: 0; 
		opacity: 1;
		transition: height 0ms 0.5ms, opacity 600ms 0ms;
	}
}
 

.footer .site-info .menu-footer-container {
	margin-bottom: 12px;
}

#site-navigation {
	position: fixed;
}

// New ribbon styles ///////////////////////////

#primary-menu {
    margin-left: 20px;
	z-index: 100000000000000000000;
	position:absolute;
	top: 100px;
	max-width: 168px;
	left: 30px;
	background-color: #fff;

	@media screen and (max-width:600px) {
		max-width: 220px;
		left:0;
		
	}

}



.hide_fixed #primary-menu {
    background-color: $color__main-off-black;
}

.hide_fixed #primary-menu li a {
    color: #90A3AA;
}

.toggled #primary-menu {
    padding: 10px;
}

.tagline {
    position: absolute;
	// top: 375px;
    // left: 105px;
	left: 41px;
    width: 45%;
    visibility: hidden;

    text-transform: uppercase;

	
	h2 {
		font-size: 25px;
		letter-spacing: 0.06em;
	}
}

.home-background-ribbon .page-title {
    position: absolute;
    right: 45px;
    // bottom: 656px;
	top: 250px;
}

@media (min-width: 500px) {
	.home-background-ribbon .page-title {
		right: 67px;
		bottom: 578px;
	}
}

@media (min-width: 768px) {
	.home-background-ribbon {
		padding-right: 4.5%;
		// padding-right: 116px;

		
		.top, .bottom {
			position: unset;
		}

		.bottom {
			margin-top: -50px;
			margin-bottom: -54px;
		}
	}

	.tagline {
		top: 439px;
		left: 49px;
		width: 442px;
	}
	
	.page-title {
		right: 122px;
		top: 165px;
	}
}

.home-background-ribbon .bottom {
	top: -49px;
}

.bottom-addon.bottom {
    top: -102px;
    min-height: 289px;
}

.home-card-container {
	// bottom: 260px;
	top: 620px;
	// left: 72px;
	left: 10px;
}

@media (min-width: 500px) {
	.home-background-ribbon .page-title {
	  left: 32px;
	//   bottom: 578px;
	top: 165px;
	}
  }

.home-card.two .container .home-card-title {
	padding-bottom: 1em;
	@media (min-width: 768px) {
		padding-bottom: unset;
	}
}




@media (min-width: 768px) {
	.bottom-addon.bottom {
		top: -159px;
		}
	}

@media (min-width: 992px) {
	.home-card-container .home-card {
		width: 350px;
	}
}


@media (min-width: 1200px) {
	.tagline {
		left: 115px;

		h2 {
			display: block;

			@media (min-width: 1500px) {
				display: inline;
			}
	
			@media (min-width: 2568px) {
				display: block;
			} 
		}

	}

	.home-card-container .home-card {
		width: 491px;
		width: 423px;
		height: 152px;
	}

	.page-title {
		left: 100px;
	}

	.home-card-container {
		left: 81px;
	}

	// .bottom-addon.bottom {
	// 	min-height: 289px;
	// }
}



// new home ribbon
// @media (min-width: 1200px) {
// .home-background-ribbon .bottom {
//     min-height: 392px;
// 	}
// }

.fa-caret-down.white {
	// bottom: 130px;
	top: 830px;
}

@media (min-width: 992px) {
.home-background-ribbon .bottom {
    top: -50px;
	}
}

@media (min-width: 992px) {
.home-background-ribbon .page-title {
    // top: 230px;
	}

	.fa-caret-down.white {
		// bottom: 650px;
		top: 800px;
	}
}



.home-background-ribbon .top {
    z-index: 1;
}

.next-section {
	padding-left: 168px;
	padding-left: 27px;
}






// @media (min-width: 1200px) {
// 	.first-section {
// 		width: 1516px;
// 		margin-left: -152px;
// 	}
	
// }
header#masthead {
    position: fixed;
	z-index:1000;
}

@media (min-width: 1537px) {
.home-background-ribbon .page-title {
    left: -1666px;
	}
	.tagline {
		top: 446px;
		// left: 474px;
		// width: 21%;
	}

	// .home-card-container {
	// 	bottom: 740px;
	// }

	.fa-caret-down.white {
		// bottom: 650px;
		top: 800px;
	}

	.next-section {
		padding-left: 321px;
		padding-left: 0;
	}

	.page-title {
		// top: 153px;
		top: 165px;

	}
	

	.home-background-ribbon {
		padding-right: 116px;
	}
}

#site-navigation {
    width: 100vw;
    margin: 0;
    padding-left: 32px;
    height: 100px;
    top: 0;
    align-items: flex-end;
    padding-bottom: 10px;
	background-color:#fff;
	transition:background-color .8s ease-in;
	flex-direction:row;
	display:flex;
}

.hide_fixed #site-navigation{
	background-color: transparent;
}

.home_fixed_elements.home_next.hide {
    transform: translate(0, 110%);
}

.home-wayfinder {
    font-size: 1.6rem;
    text-transform: uppercase;
    font-family: 'gilroyExtraBold';
    letter-spacing: 0.06em;
	position: absolute;
	left: clamp(84px,calc(10vw + 34px),184px);
}
@media screen and (max-width:600px) {
		
	.home-wayfinder {
		left: 54px;
	}

}

/*Temporarily Hide Footer Menu*/
div#Footer-menu {
    visibility: hidden;
}

.footer .site-info {
    display: none;
}