@media (min-width: 768px) { 
	.home-background-ribbon {
		& .top {
			background-size: 30%;
		}
	
		& .bottom {
			background-size: 30%;
			top: 0.7px;
		}
	
		& .page-title {
			margin-right: unset;
		}
	}
 }

 .home-background-ribbon {
	& .top {
		background-position: right top;
		background-repeat: no-repeat;
		// background-size: 12%;
		position: relative;
		width: 100%;
		// top: 0;
		min-height: 377.2px;
		// right: 0;
		background-size: 95%;
		z-index: 0;
	}

	& .bottom {
		background-position: right top;
		background-repeat: no-repeat;
		// background-size: 12%;
		position: relative;
		width: 100%;
		// top: 0;
		min-height: 100%;
		// right: 0;
		z-index: 2;
		background-size: 95%;
		top: -125px;
		// top: -100px;
	}

	& .page-title {
		position: absolute;
		right: 11%;
		top: 70%;
		margin-right: 0.2em;
	}
}