.h2-headings {
	text-transform: uppercase;
	margin-top: 2em;
}

.bar-heading {
	font-size: 4.9em;
	font-weight: 300;
	padding: 0;
	margin: 0;
	line-height: 1.1;
}

/*# sourceMappingURL=client-solutions.css.map */