.wpcf7 textarea, .wpcf7 select, .wpcf7 input[type="text"], .wpcf7 input[type="email"] {
	width: 285px;
}

.wpcf7 textarea {
	width: 285px;
}

@media (min-width: 992px) {
	.wpcf7 textarea, .wpcf7 select, .wpcf7 input[type="text"], .wpcf7 input[type="email"] {
		width: 510px;
	}
	.wpcf7 textarea {
		width: 510px;
	}
}

/*# sourceMappingURL=lawyers.css.map */