$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: #4169e1; //royalblue
$color__link-visited: #800080; //purple
$color__link-hover: #191970; //midnightblue
$color__text-main: #404040;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;

$color__main-white: #fff;
$color__banner-red: #e25a3d;
$color__banner-yellow: #eb9003 ;
$color__banner-green: #87c3b1;
$color__banner-blue: #afd6e7;
$color__main-grey: #90A3AA;
$color__main-off-black: #45525A;
$color__main-light-grey: #f7f4f4;