// stylelint-disable value-keyword-case
$font__main: 'Montserrat', sans-serif;;
// stylelint-enable value-keyword-case
$font__code: monaco, consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;

// Font sizes

$font-size-body: 0.9em;
$mobile-heading: 25px;

@font-face {
    font-family: gilroy;
    src: url("assets/gilroy.otf") format("opentype");
}

@font-face {
    font-family: gilroyLight;
    src: url("assets/gilroylight.otf") format("opentype");
}

@font-face {
    font-family: gilroyExtraBold;
    src: url("assets/gilroyextrabold.otf") format("opentype");
}