 /* --------------------
  Sticky Footer
  ---------------------- */

//   .site {
// 	display: flex;
// 	min-height: 100vh;
// 	flex-direction: column;
// 	margin: 0 auto; /* center on mobile */
//   }
  
   // .site-main {
   //    flex: 1;
   // }

//  .site-main {
//     display: flex;
//     flex-direction: column;
//   }
  

  
  /* Must be on content to work */
  /* Also makes content have corridors in mobile view */
  
  .content {
     flex-grow: 1;
  }

  // Not working version
//   html, body, #page {
//   height: 100%;
//   }

//   body {
//     display: flex;
//     flex-direction: column;
//   }

//   footer {
//     margin-top: auto;
//     flex-shrink: 0;
//  }

html, body {
  height: 100%;
}

.site {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.content {
  flex: 1 0 auto;
  width: 90%;
  margin: auto;
}
.footer {
  flex-shrink: 0;
}

// Remove white space

.post, .page {
  margin: 0 !important;
}