.client-solutions-headings {
	overflow: hidden;
}

.is-visible.client-solutions-headings .bar-heading {
	animation: 0.8s ease-out 0s 1 slideInFromLeft;
}

.three-cards {
	overflow: hidden;
}

.is-visible.first-card {
	animation: 0.8s cubic-bezier(0.1, 0.3, 0.9, 0.1) 0s 1 slideInFromLeft;
}

.is-visible.second-card {
	animation: 0.8s cubic-bezier(0.1, 0.3, 0.9, 0.1) 0s 1 slideInFromLeft;
}

.is-visible.third-card {
	animation: 0.8s cubic-bezier(0.1, 0.3, 0.9, 0.1) 0s 1 slideInFromLeft;
}

/*# sourceMappingURL=clientsolutions.css.map */