.home-full-background {
	width: 95%;
}

.first-section {
	visibility: hidden;
	animation: 1.5s ease-in-out 1s 1 wipeBackgroundDesktop forwards;
	height: 100%;
	min-height: 100vh;
	position: relative;
}

@media screen and (max-width: 600px) {
	.first-section {
		animation: 1.5s ease-in-out 1s 1 wipeBackgroundDesktopMobile forwards;
	}
}

.home_fixed_elements.home_decoration {
	visibility: hidden;
	animation: 1.5s ease-in-out 1s 1 wipeBackgroundRibbon forwards;
}

/*
.first-section.expand{
  animation: 200ms ease-in-out 0s 1 wipeBackgroundDesktopExpand forwards;
}

.first-section.shrink{
  animation: 350ms ease-in-out 0s 1 wipeBackgroundDesktopShrink forwards;
}
*/
.hamburger {
	visibility: hidden;
	animation: 0.5s delayAndHide linear 4s forwards, 0.7s ease-in-out 4s 1 fadeIn;
}

.home-card-container {
	animation: 2s ease-out 3s 1 fadeIn;
	animation-fill-mode: forwards;
}

.fa-caret-down.white, .down-arrow-white {
	width: 33px;
	visibility: hidden;
	animation: 0.5s ease-out 4s 1 fadeIn;
	animation-fill-mode: forwards;
}

.tagline {
	animation: 2s ease-out 3s 1 fadeIn;
	animation-fill-mode: forwards;
}

.page-title {
	position: absolute;
	left: 35px;
	font-size: 4.5em;
	z-index: 2;
	visibility: hidden;
	animation: 0.5s delayAndHide linear 2.5s forwards, 3s ease-in-out 2.5s 1 fadeIn;
}

/*# sourceMappingURL=homepage.css.map */