@keyframes slideInFromLeft {
	0% {
		transform: translateX(-100%);
	}
	100% {
		transform: translateX(0);
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;
		visibility: visible;
	}
	100% {
		transform: 1;
		visibility: visible;
	}
}

@keyframes animatedBackgroundPage {
	from {
		background-position: left top;
		bottom: -200px;
	}
	to {
		background-position: right top;
		bottom: -200px;
	}
}

@keyframes animatedBackground {
	from {
		background-position: left top;
	}
	to {
		background-position: right top;
	}
}

@keyframes slideIntoPlace {
	from {
		bottom: 0;
	}
	to {
		bottom: -200px;
	}
}

@keyframes delayAndHide {
	0% {
		visibility: hidden;
	}
	100% {
		visibility: visible;
	}
}

@keyframes fadeOut {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

.forefront-element {
	-webkit-transform: translateZ(999px) scale(0.7);
	transform: translateZ(999px) scale(0.7);
	z-index: 1;
}

.base-element {
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	z-index: 4;
}

.background-element {
	-webkit-transform: translateZ(-999px) scale(2);
	transform: translateZ(-999px) scale(2);
	z-index: 3;
}

/*# sourceMappingURL=keyframes.css.map */